

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :drupal_domain_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :drupal_domain_id, @club.domains, :id, :url %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :cols => 60, :rows =>5, :class => 'text_area input-xxlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :theme, :class => 'control-label' %>
    <div class="controls">
      <%= theme_switcher f %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :logo, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :logo, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                clubs_path, :class => 'btn' %>
  </div>

