  <div class="control-group">
    <%= f.label :name, :class => 'control-label required_asterisk' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field', required: true%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :cols => 60, :rows =>5, :class => 'text_area input-xxlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cs_phone_number, :class => 'control-label required_asterisk' %>
    <div class="controls">
      <%= f.text_field :cs_phone_number, :class => 'text_field', required: true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :theme, :class => 'control-label' %>
    <div class="controls">
      <%= theme_switcher f %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :logo, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :logo, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :requires_external_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :requires_external_id, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :club_cash_enable, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :club_cash_enable, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :family_memberships_allowed, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :family_memberships_allowed, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :time_zone, :class => 'control-label' %>
    <div class="controls">
      <%= f.time_zone_select(:time_zone) %>
    </div>
  </div>

  <h3>PTX Transactions</h3>
  <div class="control-group">
    <%= f.label :member_banner_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :member_banner_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :non_member_banner_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :non_member_banner_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :member_landing_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :member_landing_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :non_member_landing_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :non_member_landing_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :store_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :store_url, :class => 'text_field' %>
    </div>
  </div>

  <h3>Remote domain</h3>
  <div class="control-group">
    <label class='control-label'>Drupal Domain</label>
    <div class="controls">
      <% if @club.domains.empty? %>
        <%= I18n.t("activerecord.attributes.club.club_without_domains") %>
      <% else %>
        <%= f.collection_select :drupal_domain_id, @club.domains, :id, :url, include_blank: true %>
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :api_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :api_type, [['Drupal', 'Drupal::Member']], include_blank: true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :api_username, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :api_username, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :api_password, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :api_password, :class => 'text_field' %>
    </div>
  </div>

  <h3>Marketing Tool</h3>
  <div class="control-group">
    <%= f.label :marketing_tool_client, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :marketing_tool_client, options_for_select(EmailTemplate.clients_options, @club.marketing_tool_client), include_blank: true %>
    </div>
  </div>
  <div id="div_mkt_tool_attributes"> </div>

  <h3>Contact Emails</h3>
  <div class="control-group">
    <%= f.label :payment_gateway_errors_email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :payment_gateway_errors_email, :class => 'text_field' %>
      <%= render :partial => "shared/help", :locals => { 
        :title => t('activerecord.attributes.club.payment_gateway_errors_email'), 
        :content => t('activerecord.attributes.club.payment_gateway_errors_email_help') } %>
    </div> 
  </div>

  <h3>Social Links</h3>
  <div class="control-group">
    <%= f.label :twitter_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :twitter_url, :class => 'text_field input-xxlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :facebook_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :facebook_url, :class => 'text_field input-xxlarge' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('cancel', :default => t("helpers.links.cancel")), clubs_path, :class => 'btn' %>
  </div>

<script>
  $('document').ready( function(){
    clubs_form_functions();
    fetch_maketing_client_form();
  });
  var partner_prefix = "<%= @current_partner.prefix %>";
  var club_id = "<%= @club.id %>";
  var mkt_tool_errors = "<%= @club.errors.messages.nil? ? @club.errors.messages : @club.errors.messages[:marketing_tool_attributes] %>";
</script>