<div class="control-group">
	<%= label_tag :mandrill_api_key, t('activerecord.attributes.club.marketing_tool_attributes.mailchimp_mandrill.mandrill_api_key') ,:class => 'control-label' %>
	<div class="controls">
	  <%= text_field_tag 'marketing_tool_attributes[mandrill_api_key]', (@club.marketing_tool_attributes["mandrill_api_key"] if @club.marketing_tool_attributes)  %>
    <%= render :partial => "shared/help", :locals => { 
        :title => t('activerecord.attributes.club.marketing_tool_attributes.mailchimp_mandrill.mandrill_api_key'), 
        :content => t('activerecord.attributes.club.marketing_tool_attributes.mailchimp_mandrill.mandrill_api_key_help') } %>
	</div>
</div>

<div class="control-group">
	<%= label_tag :mailchimp_api_key, t('activerecord.attributes.club.marketing_tool_attributes.mailchimp_mandrill.mailchimp_api_key') ,:class => 'control-label' %>
	<div class="controls">
	  <%= text_field_tag 'marketing_tool_attributes[mailchimp_api_key]', (@club.marketing_tool_attributes["mailchimp_api_key"] if @club.marketing_tool_attributes)  %>
    <%= render :partial => "shared/help", :locals => { 
        :title => t('activerecord.attributes.club.marketing_tool_attributes.mailchimp_mandrill.mailchimp_api_key'), 
        :content => t('activerecord.attributes.club.marketing_tool_attributes.mailchimp_mandrill.mailchimp_api_key_help') } %>
	</div>
</div>

<div class="control-group">
	<%= label_tag :mailchimp_list_id, t('activerecord.attributes.club.marketing_tool_attributes.mailchimp_mandrill.mailchimp_list_id') ,:class => 'control-label' %>
	<div class="controls">
	  <%= text_field_tag 'marketing_tool_attributes[mailchimp_list_id]', (@club.marketing_tool_attributes["mailchimp_list_id"] if @club.marketing_tool_attributes)  %>
    <%= render :partial => "shared/help", :locals => { 
        :title => t('activerecord.attributes.club.marketing_tool_attributes.mailchimp_mandrill.mailchimp_list_id'), 
        :content => t('activerecord.attributes.club.marketing_tool_attributes.mailchimp_mandrill.mailchimp_list_id_help') } %>
	</div>
</div>

<script>
  $('document').ready($('.help').popover({offset: 10}));
</script>