<div id="tokens-help" class="well">
  <h4>Tokens Help</h4>
    <p>
    <strong>%%CLUB_NAME%%</strong><br />
    <%= t('activerecord.attributes.club.tokens_help.club_name') %>
  </p>
  <p>
    <strong>%%LANDING_URL%%</strong><br />
    <%= t('activerecord.attributes.club.tokens_help.landing_url') %>
  </p>
  <p>
    <strong>%%CHECKOUT_URL%%</strong><br />
    <%= t('activerecord.attributes.club.tokens_help.checkout_url') %>
  </p>
  <p>
    <strong>%%DELIVERY_DATE%%</strong><br />
    <%= t('activerecord.attributes.club.tokens_help.delivery_date') %>
  </p>
  <p>
    <strong>%%ENROLLMENT_AMOUNT%%</strong><br />
    <%= t('activerecord.attributes.club.tokens_help.enrollment_amount') %>
  </p>
  <p>
    <strong>%%MEMBERSHIP_AMOUNT%%</strong><br />
    <%= t('activerecord.attributes.club.tokens_help.membership_amount') %>
  </p>
  <p>
    <strong>%%TRIAL_PERIOD%%</strong><br />
    <%= t('activerecord.attributes.club.tokens_help.trial_period') %>
  </p>
  <p>
    <strong>%%CS_EMAIL%%</strong><br />
    <%= t('activerecord.attributes.club.tokens_help.cs_email') %>
  </p>
  <p>
    <strong>%%CS_PHONE_NUMBER%%</strong><br />
    <%= t('activerecord.attributes.club.tokens_help.cs_phone_number') %>
  </p>
  <p>
    <strong>%%PRIVACY_POLICY_URL%%</strong><br />
    <%= t('activerecord.attributes.club.tokens_help.privacy_policy_url') %>
  </p>
  <p>
    <strong>%%TWITTER_URL%%</strong><br />
    <%= t('activerecord.attributes.club.tokens_help.twitter_url') %>
  </p>
  <p>
    <strong>%%FACEBOOK_URL%%</strong><br />
    <%= t('activerecord.attributes.club.tokens_help.facebook_url') %>
  </p>
</div>
