<%- model_class = Club.new.class -%>

<div class="page-header">
  <h1> <%=t '.title', :default => model_class.model_name.human.pluralize %> </h1>
  <% if can? :create, Club %>
    <%= link_to(new_club_path, :class => "btn btn-primary btn_on_header") do %> 
      <i class="icon-plus"></i> New Club
    <% end %>
  <% end %>
</div>

<table id="clubs_table" class="table table-bordered table-condensed dataTable" data-source="<%= clubs_url(format: "json") %>">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:users_count) %></th>
      <th><%= t(:actions) %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<script>
  $(document).ready(club_index_functions(<%= Club.datatable_columns.size %>));
</script>