<%- model_class = Club.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>

<table id="clubs_table" class="display" data-source="<%= clubs_url(format: "json") %>">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:members_count) %></th>
      <th><%= t(:actions) %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<%= link_to t(:new),
            new_club_path,
            :class => 'btn btn-primary' %>
<script>
  $(document).ready(club_index_functions(<%= Club.datatable_columns.size %>));
</script>