<%- model_class = @club.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:name) %>:</strong><br>
  <%= @club.name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:description) %>:</strong><br>
  <%= @club.description %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:drupal_username) %>:</strong><br>
  <%= @club.api_type %>
</p>

<div class="form-actions">
  <%= link_to t(:back),
              clubs_path, :class => 'btn'  %>
  <%= link_to t(:edit),
              edit_club_path(:id => @club.id), :class => 'btn' %>
  <%= link_to t(:destroy),
              club_path(:id => @club.id),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
