<%- model_class = @club.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>
<p>
  <strong><%= model_class.human_attribute_name(:name) %>:</strong><br>
  <%= @club.name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:description) %>:</strong><br>
  <%= @club.description %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:cs_phone_number) %>:</strong><br>
  <%= @club.cs_phone_number %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:theme) %>:</strong><br>
  <%= @club.theme %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:requires_external_id) %>:</strong><br>
  <%= @club.requires_external_id %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:club_cash_enable) %>:</strong><br>
  <%= @club.club_cash_enable %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:family_memberships_allowed) %>:</strong><br>
  <%= @club.family_memberships_allowed %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:time_zone) %>:</strong><br>
  <%= @club.time_zone %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:logo) %>:</strong><br>
  <%= image_tag(@club.logo(:small)) %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:member_banner_url) %>:</strong><br>
  <%= @club.member_banner_url %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:non_member_banner_url) %>:</strong><br>
  <%= @club.non_member_banner_url %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:member_landing_url) %>:</strong><br>
  <%= @club.member_landing_url %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:non_member_landing_url) %>:</strong><br>
  <%= @club.non_member_landing_url %>
</p>


<h3>Remote domain</h3>
<p>
  <strong><%= model_class.human_attribute_name(:drupal_domain_id) %>:</strong><br>
  <%= @drupal_domain.nil? ? "It has no drupal domain assosiated" : @drupal_domain.url %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:api_type) %>:</strong><br>
  <%= @club.api_type %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:api_username) %>:</strong><br>
  <%= @club.api_username %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:api_password) %>:</strong><br>
  <%= @club.api_password %>
</p>


<h3>Marketing Tool</h3>
<% if @club.marketing_tool_client.blank? %>
  It has no marketing tool assosiated
<% else %>
  <p>
    <strong><%= model_class.human_attribute_name(:marketing_tool_client) %>:</strong> <br> <%= @club.marketing_tool_client %>
  </p>
  <% @club.marketing_tool_attributes.each do |key,value| %>
    <p> <strong><%= t("activerecord.attributes.club.marketing_tool_attributes.#{@club.marketing_tool_client}.#{key}")  %>:</strong>&nbsp; <br> <%= value %> </p>
  <% end unless @club.marketing_tool_attributes.nil? %>
<% end %>

<div class="form-actions">
  <%= link_to t(:back),
              clubs_path, :class => 'btn'  %>
  <%= link_to t(:edit),
              edit_club_path(:id => @club.id), :class => 'btn btn-success' %>
  <%= link_to t(:new_domain),
              new_domain_path(:club_id => @club.id), :class => 'btn btn-success' %>
  <%= link_to t(:test_api_connection),
              club_test_api_connection_path(:club_id => @club.id), :class => 'btn' %>
  <% if @payment_gateway_configuration %>
    <%= link_to t("activerecord.model.payment_gateway_configuration"),
        payment_gateway_configuration_path(:partner_prefix => @club.partner.prefix, :club_prefix => @club.name, :id => @payment_gateway_configuration.id), :class => 'btn' %>
  <% else %>
    <%= link_to t("button.new_payment_gateway"),
        new_payment_gateway_configuration_path(:partner_prefix => @club.partner.prefix, :club_prefix => @club.name), :class => 'btn' %>
  <% end %>
  <%= link_to t(:destroy),
              club_path(:id => @club.id),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' if can? :destroy, Club %>
</div>
