<%= form_for [ :admin, @agent ], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :username, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :username, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => 'text_field' %>
    </div>
  </div>

  <% if @agent.club_roles.empty? %>
    <div class="control-group" id="div_agent_roles">
      &nbsp &nbsp &nbsp<%= link_to "clear", "#", :class => "btn btn-mini", :style => "display: #{@agent.roles.blank? ? 'none' : true}", :id => "clear_global_role"%>
      <%= f.label :roles, 'Global Roles', :class => 'control-label' %>
      <div class="controls">
         <% Agent::ROLES.each do |role| %>
          <%= label_tag nil, role, class: 'radiobutton' do %>
            <%= radio_button_tag "agent[roles]", role, @agent.has_role?(role), id: "agent_roles_#{role}"%>
            <%= role -%>
          <% end %>          
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :club_roles, 'Club Roles', :class => 'control-label' %>
    <div class="controls">
      <table class="table table-bordered table-condensed" style="width:600px; margin-top: 10px;" id="club_role_table">
        <tr><td colspan="3"> <%= link_to 'Add', '#', :class => 'btn', :id=> "add_new_club_role" %> </td></tr>
        <tr><th>Role</th><th>Club</th><th style="width:100px;">&nbsp;</th></tr>
        <% unless @agent.new_record? %>
          <% @agent.club_roles.each do |club_role| %>
          <tr>
            <td> <%= club_role.role %> </td>
            <td> <%= club_role.club.name %> </td>
            <td> Delete <%= check_box_tag "club_roles[delete][]", club_role.id %> </td>
          </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t(:cancel),
                admin_agents_path, :class => 'btn' %>
  </div>
<% end %>


<script>
  roles = "<%= Agent::ROLES.join(',') %>"
  clubs = "<%= @clubs.collect{|club| club.name+","+club.id.to_s}.join(";") %>"
  $(document).ready(admin_form_functions());
</script>