<%= form_for [ :admin, @agent ], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.email_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :username, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :username, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :roles, 'Global Roles', :class => 'control-label' %>
    <div class="controls">
      <% Agent::ROLES.each do |role| %>
        <%= label_tag nil, role, class: 'checkbox' do %>
          <%= check_box_tag "agent[roles][]", role, @agent.has_role?(role), id: "agent_roles_#{role}" %>
          <%= role -%>
        <% end %>
      <% end %>
    </div>
  </div>

  <% unless f.object.new_record? %>
    <div class="control-group">
      <%= f.label :club_roles, 'Club Roles', :class => 'control-label' %>
      <div class="controls">
        <table class="table table-bordered table-condensed" style="width:600px; margin-top: 10px;">
          <tr><th>Role</th><th>Club</th><th style="width:100px;">&nbsp;</th></tr>
          <%= f.fields_for :club_roles, @agent.club_roles do |role| %>
            <tr>
              <td><%= role.object.role %></td>
              <td><%= role.object.club_id %></td>
              <td>Delete &nbsp;<%= role.check_box '_destroy' %></td>
            </tr>
          <% end %>
          <%= f.fields_for :club_roles, @agent.club_roles.build do |role| %>
            <tr>
              <td><%= role.select :role, Agent::ROLES, include_blank: true %></td>
              <td><%= role.text_field :club_id %></td>
              <td><%= role.submit 'Add', :class => 'btn' %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t(:cancel),
                admin_agents_path, :class => 'btn' %>
  </div>
<% end %>
