<%= form_for [ :admin, @agent ],
  :url => ( (@agent.new_record? or @agent.deleted?) ? '/admin/agents' : '/admin/agents/'+@agent.id.to_s+'update' ),
  :method =>  ( (@agent.new_record? or @agent.deleted?) ? 'post' : 'put' ),
  :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label required_asterisk' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field', required: true, type: :email %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :username, :class => 'control-label required_asterisk' %>
    <div class="controls">
      <%= f.text_field :username, :class => 'text_field', required: true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => 'control-label required_asterisk' %>
    <div class="controls">
      <%= f.password_field :password, :class => 'text_field', required: @agent.new_record? %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, :class => 'control-label required_asterisk', :style => "width:auto" %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => 'text_field', required: @agent.new_record? %>
    </div>
  </div>

  <% if @agent.club_roles.empty? and not current_agent.roles.empty? %>
    <div class="control-group" id="div_agent_roles">
      &nbsp; &nbsp; &nbsp;<%= link_to "clear", "#", :class => "btn btn-mini", :style => "display: #{@agent.roles.blank? ? 'none' : true}", :id => "clear_global_role"%>
      <label class='control-label'> Global Roles </label>
      <div class="controls">
         <% Agent::ROLES.each do |role| %>
          <%= label_tag nil, role, class: 'radiobutton' do %>
            <%= radio_button_tag "agent[roles]", role, @agent.has_role?(role), id: "agent_roles_#{role}"%>
            <%= role -%>
          <% end %>          
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <label class='control-label'> Club Roles </label>
    <div class="controls">
      <table class="table table-bordered table-condensed" style="width:600px; margin-top: 10px;" id="club_role_table">
        <tr >
          <td style="width:250px"> <%= link_to 'Add', '#', :class => 'btn', :id=> "add_new_club_role" %> </td>
          <td id="td_notice" colspan="2"> </td>
        </tr>
        <tr><th>Role</th><th>Club</th><th style="width:100px;">&nbsp;</th></tr>
        <% unless @agent.new_record? %>
          <% @club_roles.each do |club_role| %>
          <tr id=<%="tr_club_role_#{club_role.id}"%>>
            <% if current_agent.club_roles.empty? or current_agent.clubs.each.collect(&:id).include? club_role.club_id %>
              <td id=<%="td_club_role_role_#{club_role.id}"%>> <%= club_role.role %> </td>
              <td> <%= club_role.club.name %> </td>
              <td id=<%="td_club_role_buttons_#{club_role.id}"%>>
                <% unless current_agent==@agent %>
                    <%= link_to("Edit", "#" , :class => 'btn btn-mini', :id => "club_role_edit", :name => club_role.id)%>
                    <%= link_to("Delete", "#" , :class => 'btn btn-mini btn-danger', :id => "club_role_delete", :name => "#{club_role.id};#{club_role.club_id};#{club_role.club.name}", data: {confirm: 'Are you sure you want to delete this club role?'})%>
                <% end %>
              </td>
            <% end %>
          </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t(:cancel),
                admin_agents_path, :class => 'btn' %>
  </div>
<% end %>


<script>
  var roles = "<%= Agent::ROLES.join(',') %>"
  var clubs = "<%= @clubs.collect{|club| club.name+","+club.id.to_s}.join(";") %>"
  $(document).ready(admin_form_functions());
</script>