<%= form_for [ :admin, @agent ], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.email_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :username, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :username, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :roles, :class => 'control-label' %>
    <div class="controls">
      <% Agent::ROLES.each do |role| %>
        <%= label_tag nil, role, class: 'checkbox' do %>
          <%= check_box_tag "agent[roles][]", role, f.object.has_role?(role), id: "agent_roles_#{role}" %>
          <%= role -%>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t(:cancel),
                admin_agents_path, :class => 'btn' %>
  </div>
<% end %>
