<%- model_class = Club.new.class -%>

<table id="my_clubs_table" class="table table-bordered table-condensed dataTable" data-source="<%= my_clubs_path(format: "json") %>">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:members_count) %></th>
      <th><%= t(:actions) %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<script>
  $(document).ready(my_club_index_functions(<%= Club.datatable_columns.size %>));
</script>