<%- model_class = @agent.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:email) %>:</strong><br>
  <%= @agent.email %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:remember_created_at) %>:</strong><br>
  <%= @agent.remember_created_at %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:sign_in_count) %>:</strong><br>
  <%= @agent.sign_in_count %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:current_sign_in_at) %>:</strong><br>
  <%= I18n.l @agent.current_sign_in_at, :format => :long if !@agent.current_sign_in_at.nil? %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:last_sign_in_at) %>:</strong><br>
  <%= I18n.l @agent.last_sign_in_at, :format => :long if !@agent.last_sign_in_at.nil? %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:current_sign_in_ip) %>:</strong><br>
  <%= @agent.current_sign_in_ip %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:last_sign_in_ip) %>:</strong><br>
  <%= @agent.last_sign_in_ip %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:confirmed_at) %>:</strong><br>
  <%= I18n.l @agent.confirmed_at, :format => :long if !@agent.confirmed_at.nil? %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:confirmation_sent_at) %>:</strong><br>
  <%= I18n.l @agent.confirmation_sent_at, :format => :long %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:unconfirmed_email) %>:</strong><br>
  <%= @agent.unconfirmed_email %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:failed_attempts) %>:</strong><br>
  <%= @agent.failed_attempts %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:locked_at) %>:</strong><br>
  <%= I18n.l @agent.locked_at, :format => :long if !@agent.locked_at.nil? %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:username) %>:</strong><br>
  <%= @agent.username %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              admin_agents_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_agent_path(@agent), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              admin_agent_path(@agent),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
