<section> 
  <div class="page-header">
    <h1><%= t('activerecord.model.transport_settings') %></h1>
    <% if can? :create, TransportSetting, current_club.id %>
      <%= link_to(new_transport_setting_path, :class => "btn btn-primary btn_on_header", :id => "new_transport_setting") do %> 
        <i class="icon-plus"></i> New Transport Setting
      <% end %>
    <% end %>
  </div>
</section>

<table id="transport_settings_table" class="table table-bordered table-condensed dataTable" data-source="<%= transport_settings_url(format: "json") %>">
  <thead>
    <tr>
      <th> <%= t('activerecord.attributes.id') %> </th>
      <th> <%= t('activerecord.attributes.transport') %> </th>
      <th> <%= t('actions') %> </th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<script>
  $(document).ready(transportSettingsIndexFunctions());
</script>