<div class='row-fluid'>
  <div class='span12'>
    <h2><%= @transport.transport_i18n %></h2>
    <h4><%= t('activerecord.model.transport_setting') %></h4>
    <hr />
  </div>
</div>

<div>
  <table class="table table-bordered table-striped">
    <tbody>
      <% @transport.settings.each do |key, value| %>
        <% if value.present? %>
        <tr>
          <td><%= key.humanize %></td>
          <td><b><%= value %></b></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div class='row-fluid'>
  <div class='span12'>
    <div class="form-actions">
      <%= link_to t('back', default: t('helpers.links.back')), transport_settings_path, class: 'btn' %>
    </div>
  </div>
</div>
