<% if @partner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@partner.errors.count, "error") %></h2>

      <ul>
      <% @partner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<%end%>

<%= form_for [ :admin, @partner ], :html => { :class => 'form-horizontal' } do |f| %>
  <% if @partner.new_record? %>
    <div class="control-group" id="div_prefix">
      <%= f.label :prefix, :class => 'control-label required_asterisk' %>
      <div class="controls">
        <%= f.text_field :prefix, :class => 'text_field' %>
      </div>
    </div>
  <% end %>
  <div class="control-group" id="div_name">
    <%= f.label :name, :class => 'control-label required_asterisk' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field ' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contract_uri, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contract_uri, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :website_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :website_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area', :style => 'width: 70%; height: 100px' %>
    </div>
  </div>

<% if @partner.new_record? %>
  <div class="page-header">
    <h1> New Domain </h1>
  </div>
  <div class="control-group">
    <%= fields_for :domain do |domain_fields| %>
      <div class="control-group" id="div_domain_url">
        <%= domain_fields.label :url, :class => 'control-label required_asterisk' %>
        <div class="controls">
          <%= domain_fields.text_field :url, :class => 'text_field', :name => "partner[domains_attributes][0][url]", :value => (params[:partner][:domains_attributes]["0"][:url] if params[:partner]) %>
          <%= render :partial => "shared/help", :locals => { :title => t('example'), :content => t('activerecord.attributes.domain.url_help')} %> 
        </div>
      </div>
      <div class="control-group">
        <%= domain_fields.label :description, :class => 'control-label' %>
        <div class="controls">
          <%= domain_fields.text_area :description, :class => 'text_area', :name => "partner[domains_attributes][0][description]", :style => 'width: 70%; height: 100px', :value => (params[:partner][:domains_attributes]["0"][:description] if params[:partner]) %>
        </div>
      </div>
      <div class="control-group">
        <%= domain_fields.label :data_rights, :class => 'control-label' %>
        <div class="controls">
          <%= domain_fields.text_area :data_rights, :class => 'text_area', :name => "partner[domains_attributes][0][data_rights]", :style => 'width: 70%; height: 100px', :value => (params[:partner][:domains_attributes]["0"][:data_rights] if params[:partner]) %>
        </div>
      </div>
      <div class="control-group">
        <%= domain_fields.label :hosted, :class => 'control-label' %>
        <div class="controls">
          <%= domain_fields.check_box :hosted, :class => 'check_box', :name => "partner[domains_attributes][0][hosted]" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t(:cancel),
                admin_partners_path, :class => 'btn' %>
  </div>
<% end %>