<%- model_class = @current_partner.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>
<p>
  <strong><%= model_class.human_attribute_name(:prefix) %>:</strong><br>
  <%= @partner.prefix %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:name) %>:</strong><br>
  <%= @partner.name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:contract_uri) %>:</strong><br>
  <%= @partner.contract_uri %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:website_url) %>:</strong><br>
  <%= @partner.website_url %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:description) %>:</strong><br>
  <%= @partner.description %>
</p>

<div class="form-actions">
  <%= link_to t(:back),
              admin_partners_path, :class => 'btn'  %>
  <%= link_to t(:edit),
              edit_admin_partner_path(@partner), :class => 'btn' %>
</div>
