<%- model_class = Partner.new.class -%>

<div class="page-header">
  <h1> <%= t('.title') %> </h1>
    <%= link_to(new_admin_partner_path, :class => "btn btn-primary btn_on_header") do %> 
      <i class="icon-plus"></i> New Partner
  <% end %>
</div>

<table id="partners_table" class="table table-bordered table-condensed dataTable" data-source="<%= admin_partners_url(format: "json") %>">
  <thead>
    <tr>
      <% Partner.datatable_columns.each do |column| %>
        <th><%= model_class.human_attribute_name(column) %></th>
      <% end %>
      <th><%= t(:actions) %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<% content_for :javascript do %>
  partner_index_functions(<%= Partner.datatable_columns.size %>);
<% end %>