<%- model_class = Partner.new.class -%>

<table id="partners_table" class="display" data-source="<%= admin_partners_url(format: "json") %>">
  <thead>
    <tr>
      <% Partner.datatable_columns.each do |column| %>
        <th><%= model_class.human_attribute_name(column) %></th>
      <% end %>
      <th><%= t(:actions) %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<%= link_to t(:new),
            new_admin_partner_path,
            :class => 'btn btn-primary' %>


<script>
  $(document).ready(partner_index_functions(<%= Partner.datatable_columns.size %>));
</script>
