<h1>Listing partners</h1>

<table>
  <tr>
    <th>Prefix</th>
    <th>Name</th>
    <th>Contract uri</th>
    <th>Website url</th>
    <th>Description</th>
    <th>Logo</th>
    <th>Deleted at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @partners.each do |partner| %>
  <tr>
    <td><%= partner.prefix %></td>
    <td><%= partner.name %></td>
    <td><%= partner.contract_uri %></td>
    <td><%= partner.website_url %></td>
    <td><%= partner.description %></td>
    <td><%= image_tag partner.logo.url %></td>
    <td><%= partner.deleted_at %></td>
    <td><%= link_to 'Show', partner %></td>
    <td><%= link_to 'Edit', edit_partner_path(partner) %></td>
    <td><%= link_to 'Destroy', partner, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Partner', new_partner_path %>
