<p> Dear agents, </p> 
<p> The following members are having problems with the syncronization due to duplicated emails. </p>

<table class="bordered">
	<tr> 
		<td>id</td> 
		<td>Club</td> 
		<td>Email</td> 
		<td>Status</td> 
		<td>Profile link </p>
		<td>Drupal domain link </p>
	</tr>
	<% @members.each do |member| %>
		<tr> 
			<td><%= member.id %> - <%= member.full_name %></td> 
			<td><%= member.club.id %> - <%= member.club.name %></td> 
			<td><%= member.email %></td> 
			<td><%= member.status %></td> 
			<td><%= link_to 'Link', show_member_url(member.club.partner.prefix, member.club.name, member.id)  %></td>
			<td>	
				<% member.club.domains.each do |drupal_domain| %>
				<%= link_to drupal_domain.url, drupal_domain.url+"/admin/people" %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>

    <p> Here are a few stepts to fix this problem. NOTE: <strong>http://dev.phoenix.stoneacreinc.com/</strong> is an URL use by example. The correct URL is located under the column "Drupal domain link" for each member.</p>
	<p> Step 1] Log in on drupal's domain with admin user and password. </p>
	<p> Step 2] Go to url http://dev.phoenix.stoneacreinc.com/admin/people, filter the list by member's email, and click on "edit". </p>
	<p> Step 3] You can see the member's drupal id on the page's url (eg. http://dev.phoenix.stoneacreinc.com/user/XXX/edit where XXX is drupal id) </p>
	<p> Step 4] Go to member's profile page on CS. On the bottom of the page, go to "Sync Status" tab. Click on "Edit" and enter the drupal id we obtain from step 3. After this click on "Update".</p>

<p> Regards. </p>
