<% content_for :header do %>
  <% if @errors.empty? %>
    <div class="alert alert-good"><h1> Shipping cost files have been successfully processed.</h1></div>
  <% else %>
    <div class="alert alert-bad"><h1> There has been some errors while processing shipping cost files.</h1></div>
  <% end %>
<% end %>


<% content_for :body do %>
  <p>Dear agent,</p>
  <p>Here is the list of reports processed during the night:</p>
  <ul>
    <% @reports_processed.each do |report| %>
      <li><%= report %></li>
    <% end %>
  </ul>
  
  <p> <%= @success_count %> fulfillments were updated successfully. There have been <%= @errors.count %> errors while processing these reports. </p> 
  <% if @errors.any? %>
    <p>We have created a new Story with more details related to them, but here is the list of errors too:</p>
    <ul>
    <% @errors.each do |error_data| %>
      <li><%= error_data[:tracking_code] %> - <%= error_data[:error] %> </li>
    <% end %>
    </ul>
  <% end %>

  <p>Regards,</p>
<% end %>