<table class="table table-condensed table-bordered">
  <thead>
    <tr>
      <th> <%= t('activerecord.attributes.communication.sent_success') %> </th>
    	<th> <%= t('activerecord.attributes.communication.template_name') %> </th>
    	<th> <%= t('activerecord.attributes.communication.email') %> </th>
    	<th> <%= t('activerecord.attributes.communication.scheduled_at') %> </th>
    	<th> <%= t('activerecord.attributes.communication.processed_at') %> </th>
    	<th> <%= t('activerecord.attributes.communication.template_type') %> </th>
      <th> <%= t('actions') %> </th>
    </tr>
  </thead>
  <tbody>
  <% unless @communications.nil? %>
    <% if @communications.count == 0 %>
      <tr> <td colspan="6"> <%= t('activerecord.attributes.communication.not_found') %> </td> </tr>
    <% end %> 
  	<% @communications.each do |communication| %>
  	<tr>
  	  <td> 
  	  	<% if communication.sent_success %>
  	      <i class ="icon-ok help" rel= "popover" data-toggle="modal" href="#myModal<%=communication.id%>" style="cursor: pointer"></i>
        <% elsif not communication.sent_success and communication.processed_at %>
          <i class ="icon-remove help" rel= "popover" data-toggle="modal" href="#myModal<%=communication.id%>" style="cursor: pointer"></i>
        <% end %>
        <div id="myModal<%=communication.id%>" class="well modal hide" style="border: none;">
          <div class="modal-header">
            <a href="#" class="close" data-dismiss='modal'>&times;</a>
            <h3> <%= t('activerecord.attributes.communication.response') %> </h3>
          </div>
          <div class="modal-body"> <%= communication.response %> </div>
          <div class="modal-footer"> <a href="#" class="btn" data-dismiss="modal">Close</a> </div>
        </div>
  	  </td>
  	  <td> <%= communication.template_name %> </td>
  	  <td> <%= communication.email %> </td>
  	  <td> <%= I18n.l communication.scheduled_at, :format => :only_date if communication.scheduled_at %> </td>
  	  <td> <%= I18n.l communication.processed_at, :format => :only_date if communication.processed_at %> </td>
  	  <td> <%= communication.template_type %> </td>
      <td>
        <% unless communication.sent_success && communication.processed_at %>
          <%= link_to(I18n.t(:resend), user_resend_communication_path(communication_id: communication.id), method: :post, :id => "resend_" + communication.id.to_s, data: {:confirm => I18n.t("are_you_sure")}, :class => 'btn btn-mini btn-info') %>
        <% end %>
      </td>
    <tr>
	 <% end %>
  	
  <% end %>
  </tbody>
</table>

  