
<table class="table table-condensed table-bordered">
  <thead>
      <th> <%= t('activerecord.attributes.fulfillment.asigned_at') %> </th>
  	  <th> <%= t('activerecord.attributes.fulfillment.product') %> </th>
      <th> <%= t('activerecord.attributes.fulfillment.renewed') %> </th>   
  	  <th> <%= t('activerecord.attributes.fulfillment.renewable_at') %> </th>   
      <th> <%= t('activerecord.attributes.fulfillment.status') %> </th>
      <th> <%= t('actions') %> </th>
   	</tr>
  </thead>
  <tbody>
 	  <% if @fulfillments.count == 0 %>
      <tr> <td colspan="5"> <%= t('activerecord.attributes.fulfillment.not_found') %> </td> </tr>
    <% end %> 
    <% @fulfillments.each do |fulfillment| %>
  		<tr <% if fulfillment.in_process? %> 
        	  class="ligthgreen" 
       		 <% end %> >
        <td> <%= I18n.l fulfillment.assigned_at, :format => :only_date %> </td>
        <td> <%= fulfillment.product_sku %> </td>
        <td> <%= fulfillment.recurrent ? (fulfillment.renewed ? 'Yes' : 'No') : '-' %> </td>
        <td> <%= fulfillment.renewable_at.nil? ? '-' : I18n.l(fulfillment.renewable_at, :format => :only_date) %> </td>
        <td> <%= fulfillment.status %> </td>
        <td> 
          <% if can? :manual_review, Fulfillment %>
            <% if fulfillment.manual_review_required? %>
            <%= link_to t('buttons.set_not_processed'), manual_review_fulfillment_path(id: fulfillment.id, new_status: 'not_processed'), method: :put, :data => {:confirm => 'Are you sure?'}, :class => 'btn btn-mini btn-info'%>
            <% end %>
            <% if (fulfillment.not_processed? or fulfillment.manual_review_required?) %>
              <%= link_to(t('cancel'), manual_review_fulfillment_path(id: fulfillment.id, new_status: 'canceled'), method: :put, :data => {:confirm => 'Are you sure?'}, :class => 'btn btn-mini btn-danger')%>
              <% if fulfillment.manual_review_required? %>
                <%= link_to t('do_not_honor'), manual_review_fulfillment_path(id: fulfillment.id, new_status: 'do_not_honor'), method: :put, :data => {:confirm => 'Are you sure?'}, :class => 'btn btn-mini btn-warning'%>
              <% end %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>	
  </tbody>
</table>
