<%= render :partial => "shared/user_information" %>

<%= form_tag(user_blacklist_path, id: "blacklist_form") do %>
  <table class="table table-bordered">
    <tr>
      <td> 
        <%= label_tag :reason, t('reason'), :class => 'help-inline' %> 
        <%= select_tag :reason, options_from_collection_for_select(@blacklist_reasons, "name", "name"),:include_blank => true, required: true, data: { confirm: 'This user will be blacklisted. Are you really sure?' } %>
      </td>
    </tr>
    <tr>
      <td> <%= submit_tag t('buttons.blacklist_user'), :class => 'btn btn-primary' %>
           <%= link_to t('buttons.cancel'), show_user_path, :class => 'btn' %> </td>
    </tr>
  </table>
<% end%>

<script>
  $(document).ready(disable_form_buttons_upon_submition('blacklist_form'));
</script>