<%= render :partial => "shared/user_information" %>

<%= form_tag(user_blacklist_path) do %>
  <table class="table table-bordered">
    <tr>
      <td> 
        <%= label :reason, t('reason'), :class => 'help-inline' %> 
        <%= select_tag :reason, options_from_collection_for_select(@blacklist_reasons, "name", "name"), :class => "required", :include_blank => true %>
      </td>
    </tr>
    <tr>
      <td> <%= submit_tag t('buttons.blacklist_user'), :class => 'btn btn-primary' %>
           <%= link_to t('buttons.cancel'), show_user_path, :class => 'btn' %> </td>
    </tr>
  </table>
<% end%>

<script>
  $(document).ready(blacklist_user_functions());
</script>