<%= render :partial => "shared/user_information" %>

<%= form_tag(user_cancel_path, :id => 'user_cancelation_form') do %>
  <table class="table table-bordered">
    <thead>
      <% if @current_user.cancel_date %>
        <tr>
          <th>
              <%= "Current cancel date: #{I18n.l(@current_user.cancel_date, :format => :only_date)}" %>
          </th>
        </tr>
      <% end %>
      <tr>
        <th>
          <%= label_tag :cancel_date, t('activerecord.attributes.user.cancel_date'), :class => 'help-inline' %>
          <%= text_field_tag :cancel_date, nil ,:class => 'datepicker readonly', required: true %> 
        </th>
      </tr>
      <tr>
        <th>
          <%= label_tag :reason, t('reason'), :class => 'help-inline' %> 
          <%= select_tag :reason, options_from_collection_for_select(@user_cancel_reason, "name", "name") %>
        </th>
      </tr>
      <tr>
        <td> 
          <%= submit_tag t('buttons.cancel_user'), :class => 'btn btn-primary' %>
          <%= link_to t('buttons.return_to_user_show'), show_user_path, :class => 'btn' %> 
        </td>
      </tr>
    </thead>
  </table>
<% end%>

<script type="text/javascript">
  $(document).ready(user_cancellation_functions());
</script>

