<% unless @errors.nil? %>
  <%= render :partial => "shared/flash_error_messages" %>
<% end %>

<%= render :partial => "shared/user_information" %>

<%= form_tag(user_change_next_bill_date_path, id: 'user_change_next_bill_date_form') do %>
  <table class="table table-bordered">
    <tr>
      <td>
        <%= label_tag :next_bill_date, t('activerecord.attributes.user.next_retry_bill_date'), :class => 'help-inline' %> 
        <%= text_field_tag :next_bill_date, nil ,:class => 'datepicker readonly', required: true %> 
      </td>
    </tr>
    <tr>
      <td> <%= submit_tag t('buttons.change_bill_date'), :class => 'btn btn-primary' %>
           <%= link_to t('buttons.cancel'), show_user_path, :class => 'btn' %> </td>
    </tr>
  </table>
<% end%>

<% content_for :javascript do %>
  user_change_next_bill_date();
<% end %>