<%= form_tag(users_search_result_path, :method => 'get', :id => 'index_search_form' , :class => 'form-inline') do |f| %>
  <section>
    <div class="page-header">
      <h1>Search</h1>
      <% if can? :api_enroll, User %>
        <%= link_to(new_user_path, :class => "btn btn-primary btn_on_header", :id => "new_user") do %> 
          <i class="icon-plus"></i> New User
        <% end %>
      <% end %>
    </div>
    <p class="muted">
      - Use special character '*' to match zero or more characteres inside a word. E.g: 'to*acr' will match 'stoneacre' and 'stotoacre'
      <br>
      - If you are looking for more than one word just write. "jo rla" matching "carla jojo" --besides the words are in different order--
    </p>
    <div class="row-fluid">
      <div class="span4">
        <table class="table table-bordered table-condensed table-nohover" id="personal_details">
          <thead>
            <tr class="box_title"><th><h4>Personal Details</h4></th></tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <table class="hidden_table_border">
                  <tr>
                    <td><%= t('activerecord.attributes.user.id') %></td>
                    <td><%= text_field :user, :id, :type => 'number', max: '9999999999999', min: '1',
                                         :class => 'test_field',
                                         :value => (params[:user][:id] if params[:user])%>
                    </td>
                  </tr>
                  <tr>
                    <td><%= t('activerecord.attributes.user.first_name') %></td>
                    <td><%= text_field :user, :first_name, :class => 'test_field', 
                                     :value => (params[:user][:first_name] if params[:user]) %>
                    </td>
                  </tr>
                  <tr>
                    <td><%= t('activerecord.attributes.user.last_name') %></td>
                    <td><%= text_field :user, :last_name, :class => 'test_field',
                                     :value => (params[:user][:last_name] if params[:user]) %>
                    </td>
                  </tr>
                  <tr>
                    <td><%= t('activerecord.attributes.user.email') %></td>
                    <td><%= text_field :user, :email, :class => 'text_field',
                                     :value => (params[:user][:email] if params[:user]) %>         
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="span4">
        <table class="table table-bordered table-condensed table-nohover" id="contact_details">
          <thead>
            <tr class="box_title"><th><h4>Contact Details</h4></th></tr>
          </thead>
          <tbody>
            <tr>
              <td>

                <table class="hidden_table_border">
                  <tr>
                    <td><%= t('activerecord.attributes.user.city') %></td>
                    <td><%= text_field :user, :city, :class => 'test_field',
                                     :value => (params[:user][:city] if params[:user]) %> </td>
                  </tr>
                  <tr>
                    <td><%= t('activerecord.attributes.user.country') %></td>
                    <td> <%= select_tag('user[country]', options_for_select(User.supported_countries.map { |cc| [User.country_name(cc), cc]}),
                        :prompt => t('buttons.select_country')) %> </td>
                  </tr>
                  <tr>
                    <td><%= t('activerecord.attributes.user.state') %></td>
                    <td id="states_td">
                      <%= render :partial => 'states', :locals => { :selected_state => (params[:user][:state] if params[:user])}%> </td>
                  </tr>
                  <tr>
                    <td><%= t('activerecord.attributes.user.zip') %></td>
                    <td><%= text_field :user, :zip, :class => 'test_field',
                                     :value => (params[:user][:zip] if params[:user]) %> </td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div><!--/span-->
      <div class="span4">
        
        <table  class="table table-bordered table-condensed table-nohover" id="payment_details">
          <thead>
            <tr class="box_title"><th><h4>Additional Details</h4></th></tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <table class="hidden_table_border">
                  <tr>
                    <td><%= t('activerecord.attributes.credit_card.last_digits') %></td>
                    <td><%= text_field :user, :cc_last_digits, :type => 'number', :max => '9999', 
                                       :min => '0', :class => 'test_field',
                                       :value => (params[:user][:cc_last_digits] if params[:user])%> </td>
                  </tr>
                  <tr>
                    <td><%= t('activerecord.attributes.user.status') %></td>
                    <td><%= user_selectable_statuses('user[status]',(params[:user][:status] if params[:user]),true) %> </td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row-fluid">
      <p style="text-align: right;">

        <%= link_to('#', :id => "clear_form", :class => "btn") do %> 
          <i class="icon-refresh"></i> <%= t('clear') %>
        <% end %>

        <button class="btn" style="width: 190px;" id="submit_button">
          <i class="icon-search"></i> <%= t('search') %>
        </button>
      </p>
    </div>
  </section>


  <div class="tab-pane" id="users">
    <%= render :partial => 'search' %>
  </div>  
<% end %>

<script type="text/javascript">
  $(document).ready( user_index_functions() );
</script>

