<%= render :partial => "shared/user_information" %>


<%= form_tag(user_recover_path) do %>
	<table class="table table-bordered">
		<tr>
			<td> 
				<label class="help-inline"> Today in: <%= @current_user.current_membership.terms_of_membership.name %> </label>
			</td>
		</tr>
		<tr>
			<td>
				<%= label :terms_of_membership_id, t('activerecord.attributes.user.terms_of_membership_id'), :class => 'help-inline' %> 
        <%= select_tag :terms_of_membership_id, options_from_collection_for_select(TermsOfMembership.where(:club_id => @current_club ), "id", "name") %> 
			</td>
		</tr>
		<tr>
      <td> 
      	<%= submit_tag t('buttons.recover'), :class => 'btn btn-primary', :id => 'recover_button', :confirm => t('are_you_sure') %>
        <%= link_to t('buttons.cancel'), show_user_path, :class => 'btn', :id => 'cancel_button' %> 
      </td>
		</tr>
	</table>
<% end %>

<script>
  $(document).ready(recover_user_functions());
</script>