<%= render :partial => "shared/user_information" %>

<%= form_tag(user_refund_path(:transaction_id => @transaction), id: "refund_form") do %>
  <table class="table table-bordered">
    <tr>
      <td> 
        <div class="input-prepend input-append"> 
            <%= t('activerecord.attributes.transaction.refund_amount_help') %>: 
            (Max : <%= number_to_currency(@transaction.amount_available_to_refund) %> )            
            
            <span class="add-on">$</span><%= text_field_tag :refund_amount, nil ,:id => "refunded_amount" %> 
        </div>
      </td>
    </tr>
    <tr>
      <td>  <%= submit_tag t('buttons.refund_user'), :class => 'btn btn-primary' %>
            <%= link_to t('buttons.cancel'), show_user_path, :class => 'btn' %> </td>
    </tr>
  </table>
<% end %>

<script>
  $(document).ready(refund_user_functions());
</script>
