<%= render :partial => "shared/user_information" %>

<%= form_tag(user_save_the_sale_path, id: 'save_the_sale_form') do %>
  <table class="table table-bordered">
    <tr>
      <td colspan="2">
        <label class="help-inline">Today in: <%= @current_user.terms_of_membership.name %></label>
      </td>
    </tr>
    <tr>
      <td>
        <% if @sts_toms.first.present? %>
          <%= label_tag :terms_of_membership_id, t('activerecord.attributes.user.terms_of_membership_id'), :class => 'help-inline' %>:
          <%= select_tag :terms_of_membership_id, options_from_collection_for_select(@sts_toms, "id", "name"), { :prompt => 'Choose one...', required: true } %>
          <label><%= check_box_tag :show_all_toms, false %> Show all Subscription Plans</label>
        <% else %>
          <%= label_tag :terms_of_membership_id, t('activerecord.attributes.user.terms_of_membership_id'), :class => 'help-inline' %>:
          <%= select_tag :terms_of_membership_id, options_from_collection_for_select(@all_toms, "id", "name"), { :prompt => 'Choose one...', required: true } %>
        <% end %>
      </td>
    </tr>
    <tr><th colspan="2">Schedule Save the sale</th></tr>
    <tr>
      <td>
        <%= label_tag :change_tom_date, t('future_save_the_sale'), :class => 'help-inline' %>
        <%= text_field_tag :change_tom_date, (params[:change_tom_date] || Time.current.to_date), :class => 'datepicker', readonly: 'readonly' %>
      </td>
    </tr>
    <tr>
      <td>
        <%= label_tag :remove_club_cash, t('activerecord.remove_club_cash'), :class => 'help-inline' %>
        <%= check_box_tag :remove_club_cash, true, params[:remove_club_cash] %>
      </td>
    </tr>
    <tr>
      <td> <%= submit_tag t('buttons.save_te_sale'), :class => 'btn btn-primary', data: {:confirm => t('are_you_sure')}, :id => "save_the_sale_button" %>
        <%= link_to t('buttons.full_save'), user_full_save_path , :class=> 'btn btn-success', :id => 'full_save_button' %>
        <%= link_to t('buttons.cancel'), show_user_path, :class => 'btn', :id => 'cancel_button' %>
        </td>
    </tr>
  </table>
<% end%>

<% content_for :javascript do %>
  var allToms = JSON.parse("<%= raw escape_javascript(@all_toms.to_json) %>");
  var stsToms = JSON.parse("<%= raw escape_javascript(@sts_toms.to_json) %>");
  user_save_the_sale_functions(allToms, stsToms);
<% end %>
