<div class="page-header">
  <%= render :partial => "shared/user_information" %>
</div>

<div class="row">
  
  <div class="span4">
    <table>
      <tr>
        <td><%= t('activerecord.attributes.user.id') %>:</td>
        <td><input id="input_id" readonly="readonly" type="text" class="test_field" value="<%= @current_user.id %>" /></td>
      </tr>
      <tr>
        <td><%= t('activerecord.attributes.user.first_name') %>:</td>
        <td><input id="input_first_name" readonly="readonly" type="text" class="test_field" value="<%= @current_user.first_name %>" />
        </td>
      </tr>
      <tr>
        <td><%= t('activerecord.attributes.user.last_name') %>:</td>
        <td><input id="input_last_name" readonly="readonly" type="text" class="test_field" value="<%= @current_user.last_name %>" />
        </td>
      </tr>
      <tr>
        <td><%= t('activerecord.attributes.user.gender') %>:</td>
        <td>
          <% unless @current_user.gender.blank? %>
          <input id="input_gender" readonly="readonly" type="text" class="test_field" value="<%= @current_user.gender == 'F' ? 'Female' : 'Male' %>" />
          <% else %>
            <input id="input_gender" readonly="readonly" type="text" class="test_field" value="<%=t('activerecord.attributes.user.no_gender')%>"  />
          <% end %>
        </td>  
      </tr>
      <tr>
        <td><%= t('activerecord.attributes.user.user_classification_type') %>:</td>
        <td>
          <input id="input_member_group_type" readonly="readonly" type="text" class="test_field" value="<%= @current_user.member_group_type.nil? ? t('activerecord.attributes.user.not_group_associated') : @current_user.member_group_type.name %>" />
        </td>  
      </tr>
    </table>
  </div>
  
  <div class="span8">
    
    <div class="row-fluid">
      <div class="span4">
        <%= link_to 'Edit', (can?(:api_update, User) ? edit_user_path : '#'), :class => "btn btn-large-w btn-success #{'disabled' if cannot?(:api_update, User)}", :id => 'edit' %>
      </div>
      <div class="span4">
        <%= link_to('Save the sale', ((can?(:save_the_sale, User) and @current_user.can_change_tom?) ? user_save_the_sale_path : '#'),:class => "btn btn-large-w btn-info #{'disabled' unless @current_user.can_change_tom?}",:id => 'save_the_sale') %>
      </div>
      <div class="span4">
        <%= link_to 'Blacklist', (@current_user.can_be_blacklisted? ? user_blacklist_path : '#'), :class => "btn btn-large-w btn-danger #{'disabled' unless @current_user.can_be_blacklisted?}", :id => "blacklist_btn" %>
      </div>
    </div>

    <div class="row-fluid" style="margin-top: 8px;">
      <div class="span4">
        <%= link_to 'Add a note', (can?(:add_user_note, UserNote) ? new_user_note_path : '#'), :class => "btn btn-large-w btn-success #{'disabled' if cannot?(:add_user_note, UserNote)}", :id => 'add_user_note' %>
      </div>
      <div class="span4">
        <%= link_to('Cancel', (@current_user.can_be_canceled? ? user_cancel_path : '#'), :class => "btn  btn-large-w btn-danger #{'disabled' unless @current_user.can_be_canceled?}", :id => 'cancel', data: (current_user.change_tom_date.nil? ? {} : {confirm: t('cancel_confirm_when_tom_change_scheduled')})) %>
      </div>
      <% if @current_user.additional_data_form %>
        <div class="span4">
          <%= link_to('Edit additional data', (can?(:update, UserAdditionalData) ? additional_data_path : '#'), :class => "btn btn-large-w btn-success #{'disabled' if cannot?(:update, UserAdditionalData)}", :id => 'edit_additional_attributes') %>
        </div>
      <% end %>
    </div>

    <div class="row-fluid" style="margin-top: 8px;">
      <div class="span4">
        <%= link_to "Recover", ((@current_user.can_recover? and can?(:recover, User)) ? user_recover_path : '#'), :class => "btn btn-large-w btn-success #{'disabled' if not @current_user.can_recover? or cannot?(:recover, User)}", :id => 'recovery' %>
      </div>
      <% if @current_user.applied? %>
        <div class="span4">
          <%= link_to "Approve", user_approve_path, :class => "btn btn-large-w btn-info", data: {:confirm => t('are_you_sure')},:id => 'approve', :method => :post %>
        </div>
        <div class="span4">
          <%= link_to "Reject", user_reject_path, :class => "btn btn-large-w btn-danger", data: {:confirm => t('are_you_sure')},:id => 'reject', :method => :post %>
        </div>
      <% end %>
    </div>  

    <div class="row-fluid" style="margin-top: 8px;">
      <div class="span4">
        <%= render :partial => 'shared/resend_welcome_email_button', :locals => { use_large_button: true } %>
      </div>
      <div class="span4">
        <%= render :partial => 'shared/reset_password_button', :locals => { use_large_button: true } %>
      </div>
      <div class="span4">
        <%= render :partial => 'shared/login_remotely_button', :locals => { use_large_button: true } %>
      </div>
    </div>

    <div class="row-fluid" style="margin-top: 8px;">
      <div class="span4">
        <%= link_to I18n.t('buttons.no_recurrent_billing'), ((@current_user.billing_enabled? and can?(:no_recurrent_billing, User)) ? user_no_recurrent_billing_path : '#'), :class => "btn btn-large-w btn-info #{'disabled' if not @current_user.billing_enabled? or cannot?(:no_recurrent_billing, User)}", :id => "no_recurrent_bill_btn" %>
      </div>
      <% if @current_user.is_billing_expected? %>
        <div class="span4">
          <%= link_to I18n.t('buttons.manual_billing'), ((@current_user.billing_enabled? and can?(:manual_billing, User)) ? user_manual_billing_path : '#'), :class => "btn btn-large-w btn-info #{'disabled' if not @current_user.billing_enabled? or cannot?(:manual_billing, User)}", :id => "manual_billing_btn" %>
          <%= render :partial => "shared/help", :locals => { :title => t('buttons.manual_billing'), :content => t('buttons.manual_billing_help')} %>
        </div>
      <% end %>
      <div class="span4">
        <%= link_to I18n.t(@current_user.testing_account ? 'buttons.unmark_as_testing_account' : 'buttons.mark_as_testing_account'), (can?(:toggle_testing_account, User) ? user_toggle_testing_account_path : '#') , :class => "btn btn-large-w btn-info #{'disabled' if cannot?(:toggle_testing_account, User)}", method: 'put', :id => "testing_account" %>
      </div>
    </div>
  </div>
</div>


<table id="table_demographic_information" class="table table-bordered table-condensed">
  <thead>
    <tr class="box_title"><th colspan="6">Demographic Information</th></tr>
  </thead>
  <tbody>
    <tr>
      <th style="width: 20%;">Address</th><th  style="width: 20%;">City</th><th>State</th><th>Country</th><th>Zip</th><th>Actions</th>
    </tr>
    <tr class="<%= (!@current_user.wrong_address.nil? ? "yellow" : "") %>">
      <td class='nowrap'><%= @current_user.address %></td>
      <td><%= @current_user.city %></td>
      <td><%= @current_user.state %></td>
      <td><%= @current_user.country %></td>
      <td><%= @current_user.zip %></td>
      <td class='nowrap'>
        <% if @current_user.wrong_address.nil? %>
          <%= link_to((can?(:set_undeliverable, User) ? user_set_undeliverable_path : '#'), :class => "btn btn-mini btn-danger #{'disabled' if cannot?(:set_undeliverable, User)}", :id => "link_user_set_undeliverable") do %> 
            <i class="icon-remove"></i> <%= t('activerecord.attributes.user.set_undeliverable') %>
          <% end %>        
        <% else %>
          <%= t('activerecord.attributes.user.undeliverable') %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<table id="table_contact_information" class="table table-bordered table-condensed">
  <thead>
    <tr class="box_title"><th colspan="4">Contact Information</th></tr>
  </thead>
  <tbody>
    <tr>
      <th><%= t('activerecord.attributes.user.phone_number') %></th><th><%= t('activerecord.attributes.user.type_of_phone_number') %></th><th>Email</th><th>Birth date</th>
    </tr>
    <tr class="<%= (!@current_user.wrong_phone_number.nil? ? "yellow" : "") %>">
      <td class='nowrap'>
        <%= @current_user.full_phone_number %>
        <% if @current_user.wrong_phone_number.nil? %>
          <%= link_to((can?(:set_unreachable, User) ? user_set_unreachable_path : '#'), :class => "btn btn-mini btn-danger #{'disabled' if cannot?(:set_unreachable, User)}", :id => "link_user_set_unreachable") do %> 
            <i class="icon-remove"></i> <%= t('activerecord.attributes.user.set_unreachable') %>
          <% end %>        
        <% else %>
          <%= @current_user.wrong_phone_number %>
        <% end %>
      </td>
      <td> <%= @current_user.type_of_phone_number.capitalize unless @current_user.type_of_phone_number.nil? %> </td>

      <td class='nowrap'><a href="mailto:<%= @current_user.email %>"><%= @current_user.email %></a></td>
      <td class='nowrap'><%= @current_user.birth_date.nil? ? t('activerecord.attributes.user.not_have_birth_date_set') : @current_user.birth_date %></td>
    </tr>
  </tbody>
</table>


<table id="table_active_credit_card" class="table table-bordered table-condensed">
  <thead>
    <tr class="box_title">
      <th colspan="2">Active Credit Card</th>
      <% if can? :see_cc_token, CreditCard and not @current_club.use_pgc_authorize_net? %>
        <td style="border: none"></td>
      <% end %>
      <td style="border: none; text-align: right;" colspan="2">
        <%= link_to(new_credit_card_path, :class => "btn btn-success #{'disabled' if cannot?(:create, CreditCard)}", :id => "add_credit_card") do %> 
          <i class="icon-plus"></i> Add a credit card
        <% end %>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th> <%= t("activerecord.attributes.credit_card.last_digits") %> </th>
      <% if can? :see_cc_token, CreditCard and not @current_club.use_pgc_authorize_net? %>
        <th> <%= t('activerecord.attributes.credit_card.token') %> </th>
      <% end %>
      <th><%= t("activerecord.attributes.credit_card.expire_date") %></th>
      <th> <%= t('activerecord.attributes.credit_card.added_at') %> </th>
      <th> <%= t('activerecord.attributes.credit_card.last_successful_bill_date') %> </th>
    </tr>
    <% if @active_credit_card %>
      <tr class="<%= (@active_credit_card.expired? ? "card_expired" : "") %>">
        <td>
          <%= @active_credit_card.last_digits %>
          (<%= @active_credit_card.cc_type.nil? ?  t('activerecord.attributes.credit_card.type_unknown') : @active_credit_card.cc_type %>)
        </td>
        <% if can? :see_cc_token, CreditCard and not @current_club.use_pgc_authorize_net? %>
          <td> <%= @active_credit_card.token %> </td>
        <% end %>
        <td><%= @active_credit_card.expire_month %> / <%= @active_credit_card.expire_year %></td>
        <td id="td_mi_credit_cards_first_created_at"> <%= I18n.l @active_credit_card.created_at, :format => :only_date %></td>
        <td id="td_mi_last_successful_bill_date"> <%= I18n.l @active_credit_card.last_successful_bill_date, :format => :only_date if !@active_credit_card.last_successful_bill_date.nil? %> </td>
      <% end %>

    </tr>
  </tbody>
</table>

<%= render :partial => 'mkt_tool_sync_information' %>

<table id="table_membership_information" class="table table-bordered table-condensed table-nohover">
  <thead>
    <tr class="box_title"><th colspan="2">Membership Information</th></tr>
  </thead>
  <tbody>
    <tr>
      <td style="width: 50%;">
        <table class="hidden_table_border">
          <tr>
            <th>Status:</th>
            <td id="td_mi_status"><span style="height: 20px; padding: 4px;" class="<%= user_status_class(@current_user) %>"><b><%= @current_user.status %></b></span></td>  
          </tr>
          <tr>
            <th><%= t('activerecord.attributes.user.member_since_date') %>:</th>
            <td id="td_mi_member_since_date"><%= I18n.l @current_user.member_since_date, :format => :only_date %></td>  
          </tr>
          <tr>
            <th><%= t('activerecord.model.terms_of_membership') %>:</th>
            <td id="td_mi_terms_of_membership_name">
              <%= link_to(terms_of_membership_path(:id => @current_membership.terms_of_membership), :class => "btn btn-mini btn-small #{'disabled' if cannot?(:show, TermsOfMembership)}") do %> 
                <i class="icon-zoom-in"></i> <%= @current_membership.terms_of_membership.name %>
              <% end %>
            </td>  
          </tr>
          <tr>
            <th> <%= t('activerecord.attributes.user.created_by') %>: </th>
            <td id="td_mi_created_by"> <%= @current_membership.created_by.try(:username) %> </td>
          </tr>
          <tr>
            <th><%= t('activerecord.attributes.user.recycled_times') %>:</th>
            <td id="td_mi_recycled_times">
              <%= @current_user.recycled_times %>
              <%= render :partial => "shared/help", :locals => { :title => t('activerecord.attributes.user.recycled_times'), :content => t('activerecord.attributes.user.recycled_times_explanation')} %> 
            </td>  
          </tr>
          <% if @current_user.club.requires_external_id %>
          <tr>
            <th><%= t('activerecord.attributes.user.external_id') %>:</th>
            <td id="td_mi_external_id"><%= @current_user.external_id %></td>  
          </tr>
          <% end %>
        </table>
      </td>
      <td style="width: 50%;">
        <table class="hidden_table_border">
          <tr>
            <th><%= t('activerecord.attributes.user.join_date') %>:</th>
            <td id="td_mi_join_date"><%= I18n.l @current_membership.join_date, :format => :only_date %></td>
          </tr>
          <tr class="ligthgrey">
            <th><%= t('activerecord.attributes.user.next_retry_bill_date') %>:</th>
            <td id="td_mi_next_retry_bill_date">
              <% if @current_user.is_billing_expected? %>
                <%= I18n.l(@current_user.next_retry_bill_date, :format => :only_date) unless @current_user.next_retry_bill_date.nil? %>&nbsp;&nbsp;&nbsp;
                <% if @current_user.can_change_next_bill_date? %>
                  <%= link_to(user_change_next_bill_date_path, :class => "btn btn-mini btn-info #{'disabled' if cannot?(:change_next_bill_date, User)}", :id => "link_user_change_next_bill_date") do %> 
                    <i class="icon-pencil"></i> Change
                  <% end %>
                <% end %>
              <% else %>
                <%= t('activerecord.attributes.user.billing_is_not_expected') %>
              <% end %>
            </td>
          </tr>
          <tr>
          <th><%= t('activerecord.attributes.user.cancel_date') %>:</th>
            <td id="td_mi_cancel_date"><%= I18n.l(@current_membership.cancel_date, :format => :only_date) unless @current_membership.cancel_date.nil? %>
            </td>
          </tr>
          <% if current_user.change_tom_date %>
            <tr>
              <th><%= t('activerecord.attributes.membership.change_tom_date') %>:</th>
                <td id="td_mi_future_tom_change">
                  <%= current_user.change_tom_date %>&nbsp;&nbsp;&nbsp;
                  <%= link_to t('buttons.details'), "#myModalFutureTomChange", class:"btn btn-mini btn-info #{'disabled' unless (can?(:save_the_sale, User) and @current_user.can_change_tom?)}", 'data-toggle' => 'modal', rel: 'popover' %>

                  <div id='myModalFutureTomChange' class='modal hide fade' tabindex='-1'role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
                    <div class='modal-header'>
                      <a href='#' class='close' data-dismiss='modal'>&times</a>
                      <h3><%= t('activerecord.attributes.membership.change_tom_date') %></h3>
                    </div>
                    <div class='modal-body'>
                      <table>
                      <tr><td><b>Date</b>: <%= current_user.change_tom_date %></td></tr>
                      <tr><td><b>Terms Of Membership</b>: <%= TermsOfMembership.find(current_user.change_tom_attributes['terms_of_membership_id']).name %></td></tr>
                      <tr><td><b>Remove club cash</b>: <%= current_user.change_tom_attributes['remove_club_cash'] ? 'yes' : 'no' %></td></tr>
                      </table>
                    </div>
                    <div class='modal-footer'>
                      <a href='#' class='btn' data-dismiss='modal' >Close</a>
                      <%= link_to(user_unschedule_future_tom_update_path, method: 'put', :class => "btn btn-danger #{'disabled' unless (can?(:save_the_sale, User) and @current_user.can_change_tom?)}", id: 'remove_future_tom_change', data: {:confirm => t('are_you_sure')}) do %> 
                        <i class="icon-pencil"></i> Unschedule
                      <% end %>
                    </div>
                  </div>
                </td>
            </tr>
          <% end %>
          <% if @current_club.allow_club_cash_transaction? %>
            <tr class="ligthgrey">
              <th><%= t('activerecord.attributes.user.club_cash_amount') %>:</th>
              <td id="td_mi_club_cash_amount">
                <%= @current_user.club_cash_amount %>&nbsp;&nbsp;&nbsp;
                <% if (not @current_agent.can? :add_club_cash, User, @current_club.id or not @current_user.can_add_club_cash?) %>
                  <%= link_to('#', :class => "btn btn-mini btn-success disabled", :id => "link_user_add_club_cash") do %> 
                  <i class="icon-plus"></i> <%= t('activerecord.attributes.user.add_club_cash_transaction') %>
                  <% end %>
                <% else %>
                  <%= link_to(user_add_club_cash_path, :class => "btn btn-mini btn-success", :id => "link_user_add_club_cash") do %> 
                  <i class="icon-plus"></i> <%= t('activerecord.attributes.user.add_club_cash_transaction') %>      
                  <% end %>  
                <% end %>
              </td>  
            </tr>
          <tr>
            <th> <%= t('activerecord.attributes.user.club_cash_expire_date') %>: </th>
            <td id="td_mi_club_cash_expire_date"> <%= I18n.l(@current_user.club_cash_expire_date, :format => :only_date) unless @current_user.club_cash_expire_date.nil?  %> </td>
          </tr>
          <% end %>
        </table>        
      </td>
    </tr>
  </tbody>
</table>


<table id="table_enrollment_info" class="table table-bordered table-condensed table-nohover">
  <thead>
    <tr class="box_title"><th>Preferences</th></tr>
  </thead>
  <tbody>
    <% if @current_user.preferences.present? %>
      <% @current_user.preferences.each do |key, value| %>
        <tr><td> <%= key %>: <%= value %> </td></tr>
      <% end %>
    <% else %>
      <tr><td> <%= t('activerecord.attributes.user.has_no_preferences_saved') %> </td></tr>
    <% end %>
  </tbody>
</table>

<% unless @current_user.additional_data.nil? %>
  <table id="table_additional_data" class="table table-bordered table-condensed table-nohover">
    <thead>
      <tr class="box_title"><th>Additional Data</th></tr>
    </thead>
    <tbody>
      <% @current_user.additional_data.each do |key, value| %>
        <tr><td> <%= key %>: <%= value %> </td></tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<ul class="nav nav-tabs">
  
  <% if @current_agent.can? :list, Transaction, @current_club.id %>
    <li class="active"><a href="#transactions" data-toggle="tab" name="transactions">Transactions</a></li>
  <% end %>
  <% if @current_agent.can? :list, UserNote, @current_club.id %>
    <li><a href="#notes" data-toggle="tab" name="notes">Notes</a></li>
  <% end %>
  <% if @current_agent.can? :list, Fulfillment, @current_club.id %>
    <li><a href="#fulfillments" data-toggle="tab" name="fulfillments">Fulfillments</a></li>
  <% end %>
  <% if @current_agent.can? :list, Communication, @current_club.id %>
    <li><a href="#communication" data-toggle="tab" name="communications">Communications</a></li>
  <% end %>
  <% if @current_agent.can? :list, Operation, @current_club.id %>
    <li><a href="#operations" data-toggle="tab" name="operations">Operations</a></li>
  <% end %>
  <% if @current_agent.can? :list, CreditCard, @current_club.id %>
    <li><a href="#credit_cards" data-toggle="tab" name="credit_cards">Credit Cards</a></li>
  <% end %>
  <% if @current_user.has_link_to_api? and can? :see_sync_status, User, @current_club.id %>
    <li><a href="#sync_status" data-toggle="tab" name="sync_status">Sync Status</a></li>
  <% end %>
  <% if @current_club.is_not_drupal? and @current_agent.can? :list, ClubCashTransaction, @current_club.id%>
    <% if @current_club.allow_club_cash_transaction? %>
      <li><a href="#club_cash_transactions" data-toggle="tab" name="club_cash_transactions">Club Cash</a></li>
    <% end %>  
  <% end %>
  <% if @current_agent.can? :list, Membership, @current_club.id %>
    <li><a href="#memberships" data-toggle="tab" name="memberships">Memberships</a></li>
  <% end %>
</ul>

<div class="tab-content">
  <% if @current_agent.can? :list, Transaction, @current_club.id %>
    <div class="tab-pane active" id="transactions">
  	 <div class="tab_body_padding">
  	  </div>
  	</div>
  <% end %>
  <% if @current_agent.can? :list, UserNote, @current_club.id %>
  	<div class="tab-pane" id="notes">
  	  <div class="tab_body_padding">
  	  </div>
  	</div>	
  <% end %>
  <% if @current_agent.can? :list, Fulfillment, @current_club.id %>
  	<div class="tab-pane" id="fulfillments">
  	  <div class="tab_body_padding">
  	  </div>
  	</div> 
  <% end %>
  <% if @current_agent.can? :list, Communication, @current_club.id %>
  	<div class="tab-pane" id="communications">
  	  <div class="tab_body_padding">
  	  </div>
  	</div>
  <% end %>
  <% if @current_agent.can? :list, Operation, @current_club.id %>
  	<div class="tab-pane" id="operations">
  	  <div class="tab_body_padding">
  	  </div>
  	</div>	
  <% end %>
  <% if @current_agent.can? :list, CreditCard, @current_club.id %>
  	<div class="tab-pane" id="credit_cards">
  	  <div class="tab_body_padding">
  	  </div>
  	</div>
  <% end %>
	<% if @current_user.has_link_to_api? and can? :see_sync_status, User, @current_club.id %>
	  <div class="tab-pane" id="sync_status">
	    <div class="tab_body_padding">
        <%= render :partial => 'sync_status', :locals => { :user => @current_user} %>
	    </div>
	  </div>
	<% end %>
  <% if @current_club.is_not_drupal? and @current_agent.can? :list, ClubCashTransaction, @current_club.id%>
	  <% if @current_club.allow_club_cash_transaction? %>
	    <div class="tab-pane" id="club_cash_transactions">
	      <div class="tab_body_padding">
	      </div>
	    </div>
	  <% end %>
	<% end %>
  <% if @current_agent.can? :list, Membership, @current_club.id %>
  	<div class="tab-pane" id="memberships">
  	  <div class="tab_body_padding">
  	  </div>
  	</div>
  <% end %>
</div>

<script>
  var user_prefix = "<%= @current_user.id %>"
  $(document).ready(show_user_functions());
</script>
