<% delimiter = raw ' <span class="divider">></span> ' %>
<% if @current_agent %>
  <ul class="breadcrumb">
    
    <li><a href="<%= root_path %>">Home</a></li>

    <% if @current_partner and can? :read, Partner %>
      <li><%= delimiter %>Partner</li>
      <li>
        <%= delimiter %>
        <% if @current_agent.can? :show, Partner %>
          <a href="<%= admin_partner_dashboard_path(@current_partner.prefix) %>"><%= @current_partner.name %></a>
        <% else %>
          <%= @current_partner.name %>
        <% end %>
      </li>
    <% end %>
    
    <% if @current_club and can? :read, Club %>
      <li><%= delimiter %>Club</li>
      <li>
        <%= delimiter %>
        <% if @current_agent.can? :show, Club %>
          <a href="<%= clubs_path %>"><%= @current_club.name %></a>
        <% else %>
          <%= @current_club.name %>
        <% end %>
      </li>      
      <% if params[:controller] == 'members' and params[:action] == 'index' %>
        <%= delimiter %><li class="active">Search</li>
      <% end %>
      <% if params[:controller] == 'members' and params[:action] == 'new' %>
        <%= delimiter %><li class="active">New member</li>
      <% end %>
      <% if params[:controller] == 'fulfillments' %>
        <%= delimiter %><li class="active">Fulfillments</li>
      <% end %>
      <% if params[:controller] == 'terms_of_memberships' %>
        <%= delimiter %><a href="<%= terms_of_memberships_path %>">Subscription Plans</a>
      <% end %>
      <% if params[:controller] == 'terms_of_memberships' and ['show','edit'].include? params[:action]  %>
        <%= delimiter %><li class="active"><%= @tom.name %></li>
      <% end %>
      <% if params[:controller] == 'terms_of_memberships' and params[:action] == 'new' %>
        <%= delimiter %><li class="active">New Subscription Plan</li>
      <% end %>
      <% if params[:controller] == 'email_templates' %>
        <%= delimiter %><a href="<%= terms_of_memberships_path %>">Subscription Plans</a>
        <%= delimiter %><li class="active"> <%= @tom.name %> </li>
        <%= delimiter %><a href="<%= terms_of_membership_email_templates_path %>">Communications</a>
      <% end %>
      <% if params[:controller] == 'email_templates' and params[:action] == 'new' %>
        <%= delimiter %><li class="active">New Communication</li>
      <% end %>
      <% if params[:controller] == 'email_templates' and ['show', 'edit'].include? params[:action] %>
        <%= delimiter %><li class="active"><%= @et.name %></li>
      <% end %>
    <% end %>

    <% if @current_member %>
      <%= delimiter %>
      <li><a href="<%= members_path %>">Members</a></li>
      <%= delimiter %>
      <li><a href="<%= show_member_path %>">Member</a></li>
      <%= delimiter %>
      <% if params[:controller].include?('member_notes') %>
        <li class="active">Notes</li>
      <% elsif params[:controller].include?('credit_cards') %>
        <li class="active">Credit card</li>
      <% elsif params[:controller].include?('operations') %>
        <li class="active">Operation</li>
      <% elsif params[:controller].include?('terms_of_membership') %>
        <li class="active">Terms of Membership</li>
      <% else %>
        <li class="active"><%= params[:action].humanize %></li>
      <% end %>
    <% end %>

  </ul>
<% end %>