<% if @current_agent %>
  <ul class="breadcrumb">
    <li>
      <a href="<%= root_path %>">Home</a> <span class="divider">/</span>
    </li>
    <% if @current_partner %>
      <li>
        Partner<span class="divider">/</span>
      </li>
      <li>
        <a href="<%= admin_partner_dashboard_path(@current_partner.prefix) %>"><%= @current_partner.name %></a><span class="divider">/</span>
      </li>
    <% end %>
    <% if @current_club %>
      <li>
        Club<span class="divider">/</span>
      </li>
      <li>
        <a href="<%= clubs_path %>"><%= @current_club.name %></a><span class="divider">/</span>
      </li>
      <% if params[:controller] == 'members' and params[:action] == 'index' %>
        <li class="active">Search</li>
      <% end %>
    <% end %>
    <% if @current_member %>
      <li class="active">Member</li>
      <% if params[:controller].include?('member_notes') %>
        <span class="divider">/</span><li class="active">Notes</li>
      <% elsif params[:controller].include?('credit_cards') %>
        <span class="divider">/</span><li class="active">Credit card</li>
      <% else %>
        <span class="divider">/</span><li class="active"><%= params[:action].humanize %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>