<% delimiter = raw ' <span class="divider">></span> ' %>
<% if @current_agent %>
  <ul class="breadcrumb">
    
    <li><a href="<%= root_path %>">Home</a></li>

    <% if @current_partner and can? :read, Partner %>
      <li><%= delimiter %>Partner</li>
      <li>
        <%= delimiter %>
        <% if @current_agent.can? :show, Partner %>
          <a href="<%= admin_partner_dashboard_path(@current_partner.prefix) %>"><%= @current_partner.name %></a>
        <% else %>
          <%= @current_partner.name %>
        <% end %>
      </li>
    <% end %>
    
    <% if @current_club and can? :read, Club %>
      <li><%= delimiter %>Club</li>
      <li>
        <%= delimiter %>
        <% if @current_agent.can? :show, Club %>
          <a href="<%= clubs_path %>"><%= @current_club.name %></a>
        <% else %>
          <%= @current_club.name %>
        <% end %>
      </li>      
      <% if params[:controller] == 'users' and params[:action] == 'index' %>
        <li class="active"><%= delimiter %>Search</li>
      <% end %>
      <% if params[:controller] == 'users' and params[:action] == 'new' %>
        <li class="active"><%= delimiter %>New user</li>
      <% end %>
      <% if params[:controller] == 'fulfillments' %>
        <li class="active"><%= delimiter %>Fulfillments</li>
      <% end %>
      <% if params[:controller] == 'terms_of_memberships' %>
        <li><%= delimiter %><a href="<%= terms_of_memberships_path %>">Subscription Plans</a></li>
      <% end %>
      <% if params[:controller] == 'terms_of_memberships' and ['show','edit'].include? params[:action]  %>
        <li class="active"><%= delimiter %><%= @tom.name %></li>
      <% end %>
      <% if params[:controller] == 'terms_of_memberships' and params[:action] == 'new' %>
        <li class="active"><%= delimiter %>New Subscription Plan</li>
      <% end %>
      <% if params[:controller] == 'products' %>
        <li><%= delimiter %><a href="<%= products_path %>">Products</a></li>
      <% end %>
      <% if params[:controller] == 'products' and params[:action] == 'new' %>
        <li><%= delimiter %>New Product</li>
      <% end %>
      <% if params[:controller] == 'products' and params[:action] == 'show' %>
        <li><%= delimiter %><%= @product.sku %></li>
      <% end %>
      <% if params[:controller] == 'products' and params[:action] == 'bulk_update' %>
        <li><%= delimiter %>Bulk update</li>
      <% end %>
      <% if params[:controller] == 'products' and params[:action] == 'bulk_create' %>
        <li><%= delimiter %>Bulk create</li>
      <% end %>
      <% if params[:controller] == 'email_templates' %>
        <li><%= delimiter %><a href="<%= terms_of_memberships_path %>">Subscription Plans</a></li>
        <li class="active"><%= delimiter %><%= @tom.name %></li>
        <li><%= delimiter %><a href="<%= terms_of_membership_email_templates_path %>">Communications</a></li>
      <% end %>
      <% if params[:controller] == 'email_templates' and params[:action] == 'new' %>
        <li class="active"><%= delimiter %>New Communication</li>
      <% end %>
      <% if params[:controller] == 'email_templates' and ['show', 'edit'].include? params[:action] %>
        <li class="active"><%= delimiter %><%= @et.name %></li>
      <% end %>
      <% if params[:controller] == 'campaigns' && params[:action] == 'new' %>
        <li><%= delimiter %><a href="<%= campaigns_path %>">Marketing Campaigns</a></li>
        <li class="active"><%= delimiter %>New Campaign</li>
      <% end %>
      <% if params[:controller] == 'campaigns' and ['show','edit'].include? params[:action]  %>
        <li><%= delimiter %><a href="<%= campaigns_path %>">Marketing Campaigns</a></li>
        <li class="active"><%= delimiter %><%= @campaign.name %></li>
      <% end %>
      <% if params[:controller] == 'campaign_days' && params[:action] == 'index' %>
        <li class="active"><%= delimiter %>Campaign Days</li>
      <% end %>
    <% end %>

    <% if @current_user %>
      <li><%= delimiter %><a href="<%= users_path %>">Users</a></li>
      <li><%= delimiter %><a href="<%= show_user_path %>">User</a></li>
      <% if params[:controller].include?('user_notes') %>
        <li class="active"><%= delimiter %>Notes</li>
      <% elsif params[:controller].include?('credit_cards') %>
        <li class="active"><%= delimiter %>Credit card</li>
      <% elsif params[:controller].include?('operations') %>
        <li class="active"><%= delimiter %>Operation</li>
      <% elsif params[:controller].include?('terms_of_membership') %>
        <li class="active"><%= delimiter %>Subscription Plan</li>
      <% else %>
        <li class="active"><%= delimiter %><%= params[:action].humanize %></li>
      <% end %>
    <% end %>

  </ul>
<% end %>