<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="<%= root_path %>">SacPlatform</a>

      <% if current_agent %>
        <div class="container nav-collapse">
            <% if @current_club.nil? %>
              <% unless @current_partner.nil? %>
                <%= link_to @current_partner.name, admin_partner_dashboard_path %>
              <% end %>
            <% else %>
              <% if @current_club.logo? %>
                <%= link_to image_tag(@current_club.logo.url(:header)), members_path(@current_partner.prefix, @current_club.name) %>
              <% else %>
                <%= link_to @current_club.full_name, members_path(@current_partner.prefix, @current_club.name) %>
              <% end %>
            <% end %>

          <ul class="nav">
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li><%= link_to t('menu.agents'), admin_agents_path  %></li>
            <li><%= link_to t('menu.partners'), admin_partners_path  %></li>
            <li><%= link_to t('menu.logout'), destroy_agent_session_path, :method => :delete  %></li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li>
              <% if @current_club %>
                <%= select_tag "change_partner",
                options_for_select(Club.all.collect{ |u| [ "#{u.partner.prefix} - #{u.name}", members_path(u.partner.prefix, u.name) ]}, 
                
                  [members_path(@current_club.partner.prefix, @current_club.name)]), 
                :onchange => "window.open(this.options[this.selectedIndex].value, '_top')" %>
              <% end %>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      <% end %>           
    </div>
  </div>
</div>
