<table class="table table-bordered" >
  <tr>
 	<td> <%= t('activerecord.attributes.member.visible_id') %>: <%= @current_member.visible_id %> </td> 	
	<td> <%= t('member') %>: <%= @current_member.first_name %> <%= @current_member.last_name %> </td>
  <tr>
</table>