<% if current_agent %>
  <div class="span3">
    <div class="well sidebar-nav">
      <h3>Sidebar</h3>
      <% if @current_member %>
        <ul class="nav nav-list">
          <li class="nav-header">Member</li>
          <li><%= link_to "Member Dashboard", show_member_path %></li>
          <li><%= link_to "Club Dashboard", members_path %></li>
        </ul>
      <% elsif @current_partner %>
        <ul class="nav nav-list">
          <li class="nav-header">General</li>
          <li><%= link_to "Domains", domains_path  %></li>
          <li><%= link_to "Clubs", clubs_path  %></li>
          <li><%= link_to "Dashboard", admin_partner_dashboard_path if params[:action] != 'dashboard' %></li>
        </ul>
      <% end %>
    </div><!--/.well -->
  </div><!--/span-->
<% end %>
