<div class="step" id="first">
  <div class="control-group">
    <h3 class="wizard_step">
      <span>Step </span>
      <span class="wizard_step_circle step_selected">1</span>
      <span class="wizard_step_circle">2</span>
      <span class="wizard_step_circle">3</span>
    </h3>
  </div>
  <div class="control-group">
    <%= f.label :name, t('activerecord.attributes.terms_of_membership.wizard.plan_name'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field', :value => '' %>
      <%= render :partial => "shared/help", :locals => { 
        :title => t('activerecord.attributes.terms_of_membership.wizard.plan_name'), 
        :content => t('lorem') } %> 
    </div>
  </div>
  <div class="control-group">
    <%= f.label :api_role, t('activerecord.attributes.terms_of_membership.wizard.external_code'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :api_role, :class => 'text_field input-small' %>
      <%= render :partial => "shared/help", :locals => { 
        :title => t('activerecord.attributes.terms_of_membership.wizard.external_code'), 
        :content => t('lorem') } %> 
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, t('activerecord.attributes.terms_of_membership.wizard.description'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area', :rows => 5 %>
      <%= render :partial => "shared/help", :locals => { 
        :title => t('activerecord.attributes.terms_of_membership.wizard.description'), 
        :content => t('lorem') } %> 
    </div>
  </div>
</div>

<div class="step" id="second">  
  <div class="control-group">
    <h3 class="wizard_step">
      <span>Step </span>
      <span class="wizard_step_circle">1</span>
      <span class="wizard_step_circle step_selected">2</span>
      <span class="wizard_step_circle">3</span>
    </h3>
  </div>
</div>

<div class="step" id="third">
  <div class="control-group">
    <h3 class="wizard_step">
      <span>Step </span>
      <span class="wizard_step_circle">1</span>
      <span class="wizard_step_circle">2</span>
      <span class="wizard_step_circle step_selected">3</span>
    </h3>
  </div>
</div>

<div id="" class="form-actions">
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")), terms_of_memberships_path, :class => 'btn' %>
  <div style = "float: right;">
    <%= f.submit "clear", :id => 'back', :class => 'btn', :type => "reset" %>
    <%= f.submit nil, :id => 'next', :class => 'btn btn-primary' %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    new_tom_functions();
    set_button_next_label($("#tom_wizard_form").formwizard("state").currentStep);
  });

  $(function() {
    $("#tom_wizard_form").bind("before_step_shown", function(event, data) {
      set_button_next_label(data.currentStep);
    });
  });

  function set_button_next_label(currentStep) {
    var isSubmitButton = false;
    var buttonText = '<NOT_SET>';
    switch(currentStep) {
      case "first":
        buttonText = '<%= t('activerecord.attributes.terms_of_membership.wizard.step_1_button_next') %>';
        break;
      case "second":
        buttonText = '<%= t('activerecord.attributes.terms_of_membership.wizard.step_2_button_next') %>';
        break;
      case "third":
        isSubmitButton = true;
        buttonText = '<%= t('activerecord.attributes.terms_of_membership.wizard.step_3_button_next') %>';
        break;
    }
    if(isSubmitButton) {
      $("#tom_wizard_form").formwizard("option", {textSubmit: buttonText});
    }
    else {
      $("#tom_wizard_form").formwizard("option", {textNext: buttonText});
    }
  }
</script>
