<%= render :partial => "shared/member_information" %>

<table class="table table-bordered table-condensed">
  <thead>
    <tr> <th colspan="3"> <%= t('activerecord.email_template') %> </th> </tr>
    <tr>
  	  <th> <%= t('activerecord.attributes.email_template.name') %> </th>
  	  <th> <%= t('activerecord.attributes.email_template.type') %> </th>
     	<th> <%= t('activerecord.attributes.email_template.client') %> </th>
      <th> <%= t('activerecord.attributes.email_template.created_at') %> </th>
    </tr>
  </thead>
  <tbody>
  	<% @email_templates.each do |et| %>
  	<tr>
  	  <td> <%= et.name %> </td>
  	  <td> <%= et.template_type%> </td>
  	  <td> <%= et.client %> </td>
  	  <td> <%= et.created_at %> </td>
  	</tr>
  	<% end %>
  </tbody>
  <tfoot>
    <tr> <td colspan="4"> <%= link_to t('back'), show_member_path, :class => "btn" %> </td> </tr>
  </tfoot>
</table>