<%= render :partial => "shared/member_information" %>
<table class="table table-bordered table-condensed">
  <thead>
  <tr> <th> <%= t('activerecord.term_of_membership') %> </th> </tr>
  </thead>
  <tr>
    <td> <%= t('activerecord.attributes.terms_of_membership.name') %>: <%= @tom.name %> </td>
    <td colspan="3"> <%= t('activerecord.attributes.terms_of_membership.mode') %>: <%= @tom.mode %> </td>
  </tr>
  <tr>
    <td> <%= t('activerecord.attributes.terms_of_membership.installment_amount') %>: 
         <%= number_to_currency(@tom.installment_amount) %> </td>
    <td> <%= t('activerecord.attributes.terms_of_membership.installment_type') %>: 
        <%= @tom.installment_type %> </td>
    <td> <%= t('activerecord.attributes.terms_of_membership.grace_period') %>: 
         <%= @tom.grace_period %> </td>
    <td> <%= t('activerecord.attributes.terms_of_membership.trial_days') %>: 
         <%= @tom.trial_days %> </td>    
  </tr>
  <tr>
    <td colspan="5" class="comment"> <%= t('activerecord.attributes.terms_of_membership.description') %>: 
                                     <%= @tom.description %> </td>
  </tr>
</table>

  <table class="table table-bordered table-condensed">
    <thead>
    <tr
      <% if @payment_gateway_configuration_development.nil? %>
        class="red"
      <% end %>
    >
      <th> <%= @payment_gateway_configuration_development.nil? ? 'The does not have pay gateway configuration mode development' : 'The club has pay gateway configuration for mode development' %> </th>
    </tr>
    <tr
      <% if @payment_gateway_configuration_production.nil? %>
        class="red"
      <% end %>
    >
      <th> <%= @payment_gateway_configuration_production.nil? ? 'The does not have pay gateway configuration for mode production' : 'The club has pay gateway configuration for mode production' %> </th>
    </tr>
    </thead>
  </table>

<table class="table table-bordered table-condensed">
  <thead>
    <tr> <th colspan="3"> <%= t('activerecord.email_template') %> </th> </tr>
    <tr>
  	  <th> <%= t('activerecord.attributes.email_template.name') %> </th>
  	  <th> <%= t('activerecord.attributes.email_template.type') %> </th>
     	<th> <%= t('activerecord.attributes.email_template.client') %> </th>
      <th> <%= t('activerecord.attributes.email_template.external_attributes')%>
    </tr>
  </thead>
  <tbody>
  	<% @email_templates.each do |et| %>
  	<tr>
  	  <td> <%= et.name %> </td>
  	  <td> <%= et.template_type%> </td>
  	  <td> <%= et.client %> </td>
      <td> <%= et.external_attributes.to_s %> </td>
  	</tr>
  	<% end %>
  </tbody>
  <tfoot>
    <tr> <td colspan="4"> <%= link_to t('back'), show_member_path, :class => "btn" %> </td> </tr>
  </tfoot>
</table>