<table class="table table-bordered table-condensed" id="table_information">
  <thead>
    <tr><th colspan="4"><%= t('activerecord.term_of_membership') %></th></tr>
  </thead>
  <tr>
    <td> <%= t('activerecord.attributes.terms_of_membership.name') %>: <%= @tom.name %> </td>
    <td colspan="3"> <%= t('activerecord.attributes.terms_of_membership.mode') %>: <%= @tom.mode %> </td>
  </tr>
  <tr>
    <td> <%= t('activerecord.attributes.terms_of_membership.installment_amount') %>: 
         <%= number_to_currency(@tom.installment_amount) %> </td>
    <td> <%= t('activerecord.attributes.terms_of_membership.installment_type') %>: 
         <%= @tom.installment_type %> </td>
    <td> <%= t('activerecord.attributes.terms_of_membership.provisional_days') %>: 
         <%= @tom.provisional_days %> </td>    
    <% if @current_club.allow_club_cash_transaction? %>
      <td> <%= t('activerecord.attributes.terms_of_membership.club_cash_amount') %>: <%= @tom.club_cash_amount %></td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
  </tr>
  <tr>
    <td> <%= t('activerecord.attributes.terms_of_membership.initial_fee') %>: 
         <%= number_to_currency(@tom.initial_fee) %> </td>
    <td> <%= t('activerecord.attributes.terms_of_membership.payment_is_expected') %>: 
         <%= @tom.is_payment_expected %> </td>
    <td> <%= t('activerecord.attributes.terms_of_membership.trial_period') %>: 
         <%= number_to_currency(@tom.trial_period_amount) %> </td>
    <td> <%= t('activerecord.attributes.terms_of_membership.installment_period') %>: 
         <%= @tom.installment_period %> </td>
  </tr>
  <tr>
  <tr>
    <td> <%= t('activerecord.attributes.terms_of_membership.upgrade_to') %>: 
         <%= @tom.upgrade_tom.name %> (ID: <%= @tom.upgrade_tom_id %>) </td>
    <td> <%= t('activerecord.attributes.terms_of_membership.upgrade_tom_period') %>: 
         <%= @tom.upgrade_tom_period %> </td>
    <td> <%= t('activerecord.attributes.terms_of_membership.suspension_period') %>: 
         <%= @tom.suspension_period %> </td>
    <td> <%= t('activerecord.attributes.terms_of_membership.suscription_limits') %>: 
         <%= @tom.suscription_limits %> </td>
  </tr>
  <tr>
    <td> <%= t('activerecord.attributes.terms_of_membership.if_cannot_bill') %>: 
         <%= @tom.if_cannot_bill %> </td>
    <td> </td>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
    <td colspan="4" class="comment"> <%= t('activerecord.attributes.terms_of_membership.description') %>: <%= @tom.description %> </td>
  </tr>
</table>

<table class="table table-bordered table-condensed" id="table_payment_gateway_configuration">
  <thead>
  <tr<% if @payment_gateway_configuration_development.nil? %> class="red"<% end %>>
    <th> <%= @payment_gateway_configuration_development.nil? ? t('activerecord.attributes.terms_of_membership.not_have_payment_gateway_development') : t('activerecord.attributes.terms_of_membership.has_payment_gateway_development') %> </th>
  </tr>
  <tr<% if @payment_gateway_configuration_production.nil? %> class="red"<% end %>>
    <th> <%= @payment_gateway_configuration_production.nil? ? t('activerecord.attributes.terms_of_membership.not_have_payment_gateway_production') : t('activerecord.attributes.terms_of_membership.has_payment_gateway_production') %>  </th>
  </tr>
  </thead>
</table>

<table class="table table-bordered table-condensed" id="table_email_template">
  <thead>
    <tr> <th colspan="4"> <%= t('activerecord.email_template') %> </th> </tr>
    <tr>
  	  <th> <%= t('activerecord.attributes.email_template.name') %> </th>
  	  <th> <%= t('activerecord.attributes.email_template.type') %> </th>
     	<th> <%= t('activerecord.attributes.email_template.client') %> </th>
      <th> <%= t('activerecord.attributes.email_template.external_attributes')%>
    </tr>
  </thead>
  <tbody>
  	<% @email_templates.each do |et| %>
  	<tr>
  	  <td> <%= et.name %> </td>
  	  <td> <%= et.template_type%> </td>
  	  <td> <%= et.client %> </td>
      <td> <%= et.external_attributes.to_s %> </td>
  	</tr>
  	<% end %>
  </tbody>
</table>

<%= link_to t('buttons.return_to_member_show'), '#', :class => "btn", :id => 'return_btn' %>



<script>
  $(document).ready(show_terms_of_membership_functions());
</script>
