<% content_for :header do %>
  <tr>
    <td class="alert alert-bad">
      Alert: There has been an authentication error while fetching data from the following campaigns
    </td>
  </tr>
<% end %>

<table width="100%" cellpadding="0" cellspacing="0">
  <% @data.each do |transport, campaigns| %>
    <tr>
      <td class="alert alert-warning">
        Club <%= @club.name %>. Source: <%= transport.humanize.capitalize %>
      </td>
    </tr>
    <tr>
      <td class="content-block">
        <p>There has been an error while authenticating to retrieve information related campaigns.

        <% if @club.transport_settings.by_transport transport %>
          <!-- TODO add link to edit Transport Setting -->
          <p>Check if TransportSetting is correctly configured <%= link_to 'clicking here', '#' %></p>
          <% if transport == 'facebook' %>
            <p>Also, try requesting a new Facebook Access Token following this <%= link_to 'link', campaign_facebook_request_code_campaigns_url(partner_prefix: @club.partner.prefix, club_prefix: @club.name) %> (Have in mind that requesting this access token will trigger the fetch campaign days information process using the new token)</p>
          <% end %>
        <% else %>
          <!-- TODO add link to add new Transport Setting -->
          <p>There is no Transport Setting configured for this Club. Please configure a Transport Setting <%= link_to 'clicking here', '#' %>.</p> 
        <% end %>

        <p> Campaigns affected so far: </p>
        <ul>
          <% campaigns.each do |campaign| %>
            <li> Campaign ID: <%= campaign.id %>- Name: <%= campaign.name %>
              <ul>
                <% campaign.campaign_days.unauthorized.pluck(:date).each do |date| %>
                  <li><%= I18n.l(date) %></li>
                <% end %>
              </ul>
            </li>
          <% end %> 
        </ul>  
      </td>
    </tr>
  <% end %>
</table>