
  <div class="control-group">
    <%= f.label :url, :class => 'control-label required_asterisk' %>
    <div class="controls">
      <%= f.text_field :url, :class => 'text_field', type: :url, required: true %>
      <%= render :partial => "shared/help", :locals => { :title => t('example'), :content => t('activerecord.attributes.domain.url_help')} %> 
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area', :style => 'width: 90%; height: 100px' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :data_rights, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :data_rights, :class => 'text_area', :style => 'width: 90%; height: 100px' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :hosted, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :hosted, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :club_id, :class => 'control-label' %>
    <div class="controls">
      <% if @domain.new_record? %>
        <%= f.collection_select :club_id, @clubs, "id", "name" %>
      <% else %>
        <%= f.text_field :club_id, value: @domain.club.name, :class => 'text_field', disabled: true %>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t(:cancel), domains_path, :class => 'btn' %>
  </div>