
  <div class="control-group">
    <%= f.label :url, :class => 'control-label required_asterick' %>
    <div class="controls">
      <%= f.text_field :url, :class => 'text_field' %>
      <%= render :partial => "shared/help", :locals => { :title => t('example'), :content => t('activerecord.attributes.domain.url_help')} %> 
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area', :style => 'width: 90%; height: 100px' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :data_rights, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :data_rights, :class => 'text_area', :style => 'width: 90%; height: 100px' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :hosted, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :hosted, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :club_id, :class => 'control-label' %>
    <div class="controls">
      <% if @domain.club.nil? %>
        <% if @current_agent.has_global_role? %>
          <%= generate_select_club_id f, @domain, @clubs %>
        <% else %>
          <%= generate_select_club_id f, @domain, @clubs, false %>
        <% end %>
      <% else %>
        <%= generate_select_club_id f, @domain, [@domain.club], false %>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t(:cancel), domains_path, :class => 'btn' %>
  </div>


<script>
  $(document).ready(new_domain_functions())
</script>