<%- model_class = @domain.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<p>
  <strong><%= model_class.human_attribute_name(:url) %>:</strong><br>
  <%= @domain.url %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:description) %>:</strong><br>
  <%= @domain.description %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:data_rights) %>:</strong><br>
  <%= @domain.data_rights %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:hosted) %>:</strong><br>
  <%= @domain.hosted %>
</p>

<p>
  <strong><%= model_class.human_attribute_name(:club_id) %>:</strong><br>
  <%= 
    @domain.club.nil? ? 
      "It has no club assosiated" : 
      link_to(@domain.club.name, club_path(@domain.club, partner_prefix: @current_partner.prefix)) 
  %>
</p>

<div class="form-actions">
  <%= link_to t(:back),
              domains_path, :class => 'btn'  %>
  <%= link_to t(:edit),
              edit_domain_path(:id => @domain.id), :class => 'btn' %>
  <%= link_to t(:destroy),
              domain_path(:id => @domain.id),
              :method => 'delete',
              :class => 'btn btn-danger',
              :data => {confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))} %>
</div>
