<table id="delayed_jobs_table" class="table table-bordered table-condensed dataTable" data-source="<%= admin_delayed_jobs_path(format: "json") %>">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.delayed_job.id') %></th>
      <th><%= t('activerecord.attributes.delayed_job.attempts') %></th>
      <th><%= t('activerecord.attributes.delayed_job.handler') %></th>
      <th><%= t('activerecord.attributes.delayed_job.last_error') %></th>
      <th><%= t('activerecord.attributes.delayed_job.run_at') %></th>
      <th><%= t('activerecord.attributes.delayed_job.created_at') %></th>
      <th><%= t(:actions) %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<script>
  $(document).ready(delay_jobs_index_functions(<%= DelayedJob.datatable_columns.size %>));
</script>