<div class="control-group">
  <%= f.label :name, :class => 'control-label required_asterisk' %>
  <div class="controls">
    <%= f.text_field :name, :class => 'text_field', required: true %>
  </div>
</div>

<% if @preference_group.new_record? %> 
  <div class="control-group">
    <%= f.label :code, :class => 'control-label required_asterisk' %>
    <div class="controls">
      <%= f.text_field :code, :class => 'text_field', required: true %>
    </div>
  </div>
<% end %>

<div class="control-group">
  <%= f.label :add_by_default, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :add_by_default, class: 'check_box'%>
    <%= render :partial => 'shared/help', :locals => { :title => t('activerecord.attributes.preference_group.add_by_default'), :content => t('activerecord.attributes.preference_group.add_by_default_help')} %>
  </div>
</div>

<div class="form-actions">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t(:cancel), preference_groups_path, :class => 'btn' %>
</div>