<% if @payment_gateway_configuration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment_gateway_configuration.errors.count, "error") %></h2>

      <ul>
      <% @payment_gateway_configuration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<br>
<%end%>

<% if @payment_gateway_configuration.new_record? %>
  <div class="control-group">
    <%= f.label :gateway, :class => 'control-label' %>
    <div class="controls">
      <%= select_tag('payment_gateway_configuration[gateway]', options_for_select(Settings.payment_gateways.collect{|x| [I18n.t("activerecord.gateway.#{x}"),x]}), :class => 'text_field') %>
    </div>
  </div>
<% end %>

<div class="control-group">
  <%= f.label :report_group, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :report_group, :class => 'text_field' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :merchant_key, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :merchant_key, :class => 'text_field' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :login, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :login, :class => 'text_field' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :password, :class => 'control-label' %>
  <div class="controls">
    <%= f.password_field :password, :class => 'password_field' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :descriptor_name, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :descriptor_name, :class => 'text_field' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :descriptor_phone, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :descriptor_phone, :class => 'text_field' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :order_mark, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :order_mark, :class => 'text_field' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :aus_login, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :aus_login, :class => 'text_field' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :aus_password, :class => 'control-label' %>
  <div class="controls">
    <%= f.password_field :aus_password, :class => 'password_field' %>
  </div>
</div>


<div class="form-actions">
	<%= f.submit nil, :class => 'btn btn-primary' %>
	<%= link_to t(:cancel), club_path(:id => @current_club.id), :class => 'btn' %>
</div>