<% if @fulfillments %>
  <table class="table table-bordered table-condensed">
  	<thead>
  	  <th> <%= t('activerecord.attributes.fulfillment.id') %> </th>
      <th> <%= t('activerecord.attributes.fulfillment.member') %> </th>
      <th> <%= t('activerecord.attributes.fulfillment.asigned_at') %> </th>
      <th> <%= t('activerecord.attributes.fulfillment.renewable_at') %> </th>   
  	  <th> <%= t('activerecord.attributes.fulfillment.product_sku') %> </th>
  	  <th> <%= t('activerecord.attributes.fulfillment.tracking_code') %> </th>    
      <th> <%= t('activerecord.attributes.fulfillment.status') %> </th>
  	  <th> <%= t('actions') %> </th>    
  	</thead>
  	<tbody>
  		<% @fulfillments.each do |fulfillment| %>
    		<tr>
    			<td> <%= fulfillment.id %> </td>
          <td> <%= fulfillment.member.full_name %> </td>
          <td> <%= fulfillment.asigned_at %> </td>
          <td> <%= fulfillment.renewable_at %> </td>
    			<td> <%= fulfillment.product_sku %> </td>
    			<td> <%= fulfillment.tracking_code %> </td>
    			<td> <%= fulfillment.status %> </td>
          <td NOWRAP>
      			<% if fulfillment.processing? %>
              <% unless fulfillment.member.wrong_address %>
                <%= link_to 'Mark as sent', '#', :id => "mark_as_sent", :name => fulfillment.id, :class=> "btn btn-small" %>
                -----
            		<%= select_tag "reason", options_for_select([Settings.wrong_address.undeliverable_all, Settings.wrong_address.undeliverable_sloop, Settings.wrong_address.undeliverable_kit_card]), :id => "reason_#{fulfillment.id}" %>
          			<%= link_to 'Mark as wrong address','#', :id => "mark_as_wrong_address", 
            	    :name => fulfillment.id, :class=> "btn btn-small" %>
            	<% else %>
            		<%= t('activerecord.attributes.member.undeliverable') %>
            	<% end %>
      			<% elsif fulfillment.out_of_stock? %>
              Actual stock: <%= fulfillment.product.stock %>. <%= link_to 'Resend','#', :id => 'resend', :name => fulfillment.id ,:class=> "btn btn-small" %>
           	<% end %>
          </td>
    		</tr>
  		<% end %>
  	</tbody>
  </table>
<% end %>