<% if @fulfillments %>
  
  <% if @status == 'processing' %>
    <%= form_tag(generate_csv_fulfillments_path) do %>
      <%= hidden_field :status, nil, :value => 'processing' %>
      <%= hidden_field :product_type, nil, :value => "#{params[:product_type]}" %>
      <%= submit_tag t('buttons.generate_csv'), :class => 'btn btn-primary' %> 
    <% end %>
  <% end %>

  <table class="table table-bordered table-condensed" id="report_results">
  	<thead>
  	  <th> <%= t('activerecord.attributes.member.visible_id') %> </th>
      <th> <%= t('activerecord.attributes.fulfillment.member') %> </th>
      <th> <%= t('activerecord.attributes.fulfillment.assigned_at') %> </th>
      <th> <%= t('activerecord.attributes.fulfillment.renewable_at') %> </th>   
  	  <th> <%= t('activerecord.attributes.fulfillment.product_sku') %> </th>
  	  <th> <%= t('activerecord.attributes.fulfillment.tracking_code') %> </th>    
      <th> <%= t('activerecord.attributes.fulfillment.status') %> </th>
  	  <th> <%= t('actions') %> </th>    
  	</thead>
  	<tbody>
  		<% @fulfillments.each do |fulfillment| %>
    		<tr>
    			<td> <%= fulfillment.member.visible_id %> </td>
          <td> <%= fulfillment.member.full_name %> </td>
          <td> <%= I18n.l fulfillment.assigned_at, :format => :long %> </td>
          <td> <%= I18n.l fulfillment.renewable_at, :format => :long unless fulfillment.renewable_at.nil? %> </td>
    			<td> <%= fulfillment.product_sku %> </td>
    			<td> <%= fulfillment.tracking_code %> </td>
    			<td> <%= fulfillment.status %> </td>
          <td NOWRAP> 
      			<% if fulfillment.processing? %>
              <% unless fulfillment.member.wrong_address %>
                <%= link_to 'Mark as sent', '#', :id => "mark_as_sent", :name => fulfillment.id, :class=> "btn btn-small" %>
              <%= link_to 'Set as wrong address','#', :id => "set_as_wrong_address", 
                  :name => fulfillment.member.visible_id, :class=> "btn btn-small", :remote => true %>
            	<% else %>
            		<%= link_to t('activerecord.attributes.member.undeliverable'), show_member_path(:member_prefix => fulfillment.member.visible_id) %>
            	<% end %>
      			<% elsif fulfillment.out_of_stock? or fulfillment.undeliverable? %>
              <% if fulfillment.member.wrong_address %>
                <%= link_to t('activerecord.attributes.member.undeliverable'), show_member_path(:member_prefix => fulfillment.member.visible_id) %>
           	  <% else %>
                  <% unless fulfillment.product.nil? %>
                    <p style = 'float:left;'> Actual stock: <%= fulfillment.product.stock %>. </p> &nbsp
                    <% if fulfillment.product.stock > 0 %>
                      <%= link_to 'Resend','#', :id => 'resend', :name => fulfillment.id ,:class=> "btn btn-small" %>
                    <% end %>
                  <% end %>
              <% end %>
            <% end %>
          </td>
    		</tr>
  		<% end %>
  	</tbody>
  </table>
<% end %>
