<% if @fulfillments %>
  
  <% if @status == 'processing' %>
    <%= form_tag(generate_csv_fulfillments_path, :style => "float:left") do %>
      <%= hidden_field :status, nil, :value => 'processing' %>
      <%= hidden_field :product_type, nil, :value => "#{params[:product_type]}" %>
      <%= submit_tag t('buttons.generate_csv'), :class => 'btn btn-primary' %> 
    <% end %>
    <%= form_tag(generate_xls_fulfillments_path) do %>
      <%= hidden_field :status, nil, :value => 'processing' %>
      <%= hidden_field :product_type, nil, :value => "#{params[:product_type]}" %>
      <%= submit_tag t('buttons.generate_xls'), :class => 'btn btn-primary' %>
    <% end %>
  <% end %>

  <table class="table table-bordered table-condensed" id="report_results">
  	<thead>
  	  <th> <%= t('activerecord.attributes.member.visible_id') %> </th>
      <th> <%= t('activerecord.attributes.fulfillment.member') %> </th>
      <th> <%= t('activerecord.attributes.fulfillment.assigned_at') %> </th>
      <th> <%= t('activerecord.attributes.fulfillment.renewable_at') %> </th>   
  	  <th> <%= t('activerecord.attributes.fulfillment.product_sku') %> </th>
  	  <th> <%= t('activerecord.attributes.fulfillment.tracking_code') %> </th>    
      <th> <%= t('activerecord.attributes.fulfillment.status') %> </th>
  	  <th> <%= t('actions') %> </th>    
  	</thead>
  	<tbody>
  		<% @fulfillments.each do |fulfillment| %>
    		<tr>
    			<td> <%= fulfillment.member.visible_id %> </td>
          <td> <%= fulfillment.member.full_name %> </td>
          <td> <%= I18n.l fulfillment.assigned_at, :format => :long %> </td>
          <td> <%= I18n.l fulfillment.renewable_at, :format => :long unless fulfillment.renewable_at.nil? %> </td>
    			<td> <%= fulfillment.product_sku %> </td>
    			<td> <%= fulfillment.tracking_code %> </td>
    			<td> <%= fulfillment.status %> </td>
          <td> 
            <%= render :partial => "shared/fulfillment_actions", :locals => {:fulfillment => fulfillment, :member_show => false } %>
          </td>
    		</tr>
  		<% end %>
  	</tbody>
  </table>
<% end %>
