<% unless fulfillment %>
  <div class="span12 alert">No results were found.</div>
<% else %>
  <table class='table suspected_fulfillment'>
    <thead>
      <tr> <td colspan="7" class="ligthgrey"> <b> Suspected </b> </td> </tr>
      <tr id='suspected_information_columns_name'>
        <th><%= I18n.t('activerecord.attributes.fulfillment.created_at') %></th>
        <th><%= I18n.t('activerecord.attributes.fulfillment.user_id') %></th>
        <th><%= I18n.t('activerecord.attributes.fulfillment.email') %></th>
        <th><%= I18n.t('activerecord.attributes.fulfillment.full_name') %></th>
        <th><%= I18n.t('activerecord.attributes.fulfillment.full_address') %></th>
        <th><%= I18n.t('activerecord.attributes.fulfillment.phone_number') %></th>
        <th><%= I18n.t('status') %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= I18n.l(fulfillment.created_at,:format => :default) %></td>
        <td><%= link_to fulfillment.user_id, show_user_path(club_prefix: current_club.name, user_prefix: fulfillment.user_id), target:'_blank' %></td>
        <td><%= fulfillment.email %></td>
        <td><%= fulfillment.full_name %></td>
        <td><%= fulfillment.full_address %></td>
        <td><%= fulfillment.full_phone_number %></td>
        <td><%= I18n.t("activerecord.attributes.fulfillment.status_options.#{fulfillment.status}") %></td>
      </tr>
    </tbody>
</table>

<table class='table suspected_fulfillment evidences'>
  <thead>
    <tr> <td colspan="7" class="ligthgrey"> <b> Evidences </b>  (<%= evidences.count %> found) </td> </tr>
    <tr id='suspected_information_columns_name'>
      <th><%= I18n.t('activerecord.attributes.fulfillment.created_at') %></th>
      <th><%= I18n.t('activerecord.attributes.fulfillment.user_id') %></th>
      <th><%= I18n.t('activerecord.attributes.fulfillment.email') %></th>
      <th><%= I18n.t('activerecord.attributes.fulfillment.full_name') %></th>
      <th><%= I18n.t('activerecord.attributes.fulfillment.full_address') %></th>
      <th><%= I18n.t('activerecord.attributes.fulfillment.phone_number') %></th>
      <th><%= I18n.t('status') %></th>
    </tr>
  </thead>
  <tbody>
    <% evidences.each do |evidence| %>
      <tr>
        <td><%= I18n.l(evidence.matched_fulfillment.created_at,:format => :default) %> (<%= evidence.match_age %>)</td>
        <td><%= link_to evidence.matched_fulfillment.user_id, show_user_path(club_prefix: current_club.name, user_prefix: evidence.matched_fulfillment.user_id), target:'_blank' %></td>
        <td><%= evidence.matched_fulfillment.email %></td>
        <td><%= evidence.matched_fulfillment.full_name %></td>
        <td><%= evidence.matched_fulfillment.full_address %></td>
        <td><%= evidence.matched_fulfillment.full_phone_number %></td>
        <td><%= I18n.t("activerecord.attributes.fulfillment.status_options.#{evidence.matched_fulfillment.status}") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <%= will_paginate evidences %>
<% end %>

<script>
  $(document).ready( suspected_fulfillment_information_functions() );
</script>