<section>
  <div class="page-header">
    <h1>Fulfillments</h1>
  </div>
</section>

<%= form_tag(fulfillments_index_path) do %>
  <table class="table table-bordered" id ="fulfillments_table">
  	<tr>
  		<td>
	  		<%= label :initial_date, t('initial_date'), :class => 'help-inline' %>
	  	  <%= text_field :initial_date, nil ,:class => 'datepicker input-medium', :readonly => 'readonly',
                       :value => (params[:initial_date].first if params[:initial_date]) %> 
  		</td>
  		<td>
	  		<%= label :end_date, t('end_date'), :class => 'help-inline' %>
	  	  <%= text_field :end_date, nil ,:class => 'datepicker input-medium', :readonly => 'readonly',
                       :value => (params[:end_date].first if params[:end_date]) %> 
  		</td>
  		<td>
	  		<%= label :all_times, t('all_times'), :class => 'help-inline' %>
	  	  <%= check_box nil, :all_times, :checked => (true if params[:all_times]=='1') %> 
  		</td>
  		<td>
        <%= label :status, t('activerecord.attributes.fulfillment.status'), :class => 'help-inline' %>
        <%= select_tag :status, options_for_select([['Not processed', 'not_processed'],
                                ['Processing', 'processing'],['Out of stock', 'out_of_stock'], 
                                ['undeliverable','undeliverable']], :selected => params[:status]),
                                :class => 'select_field input-medium', :name => '[status]' %>	
      </td>
      <td>
        <%= label :product_type, t('activerecord.attributes.fulfillment.product_type'), :class => 'help-inline' %>
        <%= select_tag :product_type, options_for_select([['Kit', 'KIT'], ['Card', 'CARD'],
                                ['Others', 'others']], :selected => params[:product_type]),
                                :class => 'select_field input-medium', :name => '[product_type]' %>  
      </td>
  	</tr>
  	<tr>
  		<td colspan="5"><%= submit_tag t('buttons.report'), :class => 'btn btn-primary' %></td>
  	</tr>
  </table>
<% end %>
	
<%= render :partial => "report_result" %>

<script type="text/javascript">
  $(document).ready( fulfillments_index_functions() );
</script>





