<% if @file %>
  <section>
    <div class="page-header">
      <h1>Fulfillments for file #<%= @file.id %></h1>
    </div>
  </section>

<% else %>
  <section>
    <div class="page-header">
      <h1>Fulfillments</h1>
    </div>
  </section>

  <%= form_tag(fulfillments_index_path, :id => "fulfillment_report_form") do %>
    <table class="table table-bordered" id ="fulfillments_table">
    	<tr>
        <td style="width=90px;">
          <%= label_tag :all_times, nil, :class => 'help-inline' %>
          <%= check_box_tag :all_times, 1, params[:all_times] %> 
        </td>
    		<td id="td_initial_date">
  	  		<%= label_tag :initial_date, nil, :class => 'help-inline' %>
  	  	  <%= text_field_tag :initial_date, params[:initial_date], { :class => 'datepicker input-small', :readonly => 'readonly' } %> 
    		</td>
    		<td id="td_end_date">
  	  		<%= label_tag :end_date, nil, :class => 'help-inline' %>
  	  	  <%= text_field_tag :end_date, params[:end_date], { :class => 'datepicker input-small', :readonly => 'readonly' } %> 
    		</td>
    		<td>
          <%= label_tag :status, nil, :class => 'help-inline' %>
          <%= fulfillment_selectable_statuses(:status, params[:status]) %>
        </td>
        <td style="width:240px;">
          <%= radio_button_tag 'radio_product_filter', '', params[:product_filter].blank? %>
          <%= label_tag 'All', nil, :class => 'help-inline' %>
          <br>
          <%= radio_button_tag 'radio_product_filter', 'sku', params[:radio_product_filter] == 'sku' %>
          <%= text_field_tag :input_product_filter, (params[:radio_product_filter] == 'sku' ? params[:product_filter] : '' ), :class => 'help-inline', 
            :placeholder => "Sku" %>
          <%= hidden_field_tag :product_filter %>
          <br>
        </td>
    	</tr>
    	<tr>
    		<td colspan="5">
          <%= submit_tag t('buttons.report'), :class => 'btn btn-primary', :id => 'make_report' %>
        </td>
    	</tr>
    </table>
  <% end %>

<% end %>

<%= hidden_field_tag :fulfillment_file, nil, :id => 'fulfillment_file',
                     :value => (@file.nil? ? '' : @file.id) %>
<%= render :partial => "report_result" %>

<% content_for :javascript do %>
  fulfillments_index_functions('<%= generate_xls_fulfillments_path %>', '<%= fulfillments_index_path %>', '<%= t("error_messages.fulfillment_file_cant_be_empty") %>', '<%= Settings.others_product %>');
<% end %>




