<%- model_class = CampaignDay.new.class -%>

<div class="page-header">
  <h1> <%=t '.title', :default => model_class.model_name.human.pluralize %> </h1>
</div>

<table id="campaign_days_table" class="table table-bordered table-condensed dataTable" data-source="<%= campaign_days_url(format: "json") %>">
  <thead>
    <tr>
      <th><%= I18n.t("activerecord.attributes.campaign_day.date") %></th>
      <th><%= I18n.t("activerecord.model.campaign") %></th>
      <th><%= I18n.t("activerecord.attributes.campaign_day.spent") %></th>
      <th><%= I18n.t("activerecord.attributes.campaign_day.reached") %></th>
      <th><%= I18n.t("activerecord.attributes.campaign_day.converted") %></th>
      <th><%= t(:actions) %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<div id="dataTableSelect" class="in-front" >
  Filter by:
  <%= select_tag "search_transport", options_for_select(Campaign.transports_i18n.invert) %>
</div>

<script>
  $(document).ready(campaign_days_functions(<%= CampaignDay.datatable_columns.size %>));
</script>