<div class='row-fluid'>
  <div class='span12'>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label required_asterisk' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field input-xxlarge', required: true %>
      </div>
    </div>
  </div>
</div>
<div class='row-fluid'>
  <div class='span12'>
    <div class="control-group">
      <%= f.label :subscription_plan, :class => 'control-label required_asterisk' %>
      <div class="controls">
        <% if @campaign.new_record? %>
          <%= f.select :terms_of_membership_id, [], { class: 'form-control' }, required: true %>
        <% else %>
          <%= text_field_tag :terms_of_membership, @campaign.terms_of_membership.name, readonly: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class='row-fluid'>
  <div class='span12'>
    <div class="control-group">
      <%= f.label :enrollment_price, :class => 'control-label required_asterisk' %>
      <div class="controls">
        <div class=" input-prepend">
          <span class="add-on">$</span>
          <%= f.number_field :enrollment_price, required: true, within: 0...1000, step: 0.01, class: 'input-small' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='row-fluid'>
  <div class='span4'>
    <div class="control-group">
      <%= f.label :initial_date, :class => 'control-label required_asterisk' %>
      <div class="controls">
        <%= f.text_field :initial_date, :class => 'datepicker input-small readonly', required: true %>
      </div>
    </div>
  </div>

  <div class='span4'>
    <div class="control-group">
      <%= f.label :finish_date, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :finish_date, :class => 'datepicker input-small readonly' %>
      </div>
    </div>
  </div>
</div>

<div class='row-fluid'>
  <div class='span12'>
    <div class="control-group">
      <%= f.label :campaign_type, :class => 'control-label required_asterisk' %>
      <div class="controls">
        <% if @campaign.new_record? %>
          <%= f.select :campaign_type, options_for_select(Campaign.campaign_types_i18n.invert, @campaign.campaign_type), { class: 'form-control', prompt: 'Choose one...' }, required: true %>
        <% else %>
          <%= text_field_tag :campaign_type, @campaign.campaign_type, readonly: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class='row-fluid'>
  <div class='span4'>
    <div class="control-group">
      <%= f.label :source, :class => 'control-label required_asterisk' %>
      <div class="controls">
        <% if @campaign.new_record? %>
          <%= f.select :transport, options_for_select(Campaign.transports_i18n.invert, @campaign.transport), { class: 'form-control', prompt: 'Choose one...' }, required: true %>
        <% else %>
          <%= text_field_tag :transport, @campaign.transport, readonly: true %>
        <% end %>
      </div>
    </div>
  </div>

  <div class='span4'>
    <div class="control-group">
      <%= f.label :campaign_medium, 'Campaign medium', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :campaign_medium, :class => 'text_field  input-small', readonly: true %>
      </div>
    </div>
  </div>
</div>

<div class='row-fluid'>
  <div class='span12'>
    <div class="control-group">
      <%= f.label :transport_campaign_id, 'Source ID', :class => 'control-label required_asterisk' %>
      <div class="controls">
        <%= f.text_field :transport_campaign_id, :class => 'text_field', required: true %>
      </div>
    </div>
  </div>
</div>

<div class='row-fluid'>
  <div class='span12'>
    <div class="control-group">
      <%= f.label :campaign_medium_version, :class => 'control-label required_asterisk' %>
      <div class="controls">
        <%= f.text_field :campaign_medium_version, required: true %>
      </div>
    </div>
  </div>
</div>

<div class='row-fluid'>
  <div class='span12'>
    <div class="control-group">
      <%= f.label :marketing_code, :class => 'control-label required_asterisk' %>
      <div class="controls">
        <%= f.text_field :marketing_code, required: true %>
      </div>
    </div>
  </div>
</div>

<div class='row-fluid'>
  <div class='span12'>
    <div class="control-group">
      <%= f.label :fulfillment_code, :class => 'control-label required_asterisk' %>
      <div class="controls">
        <% if @campaign.new_record? %>
          <%= f.select :fulfillment_code, [], { class: 'form-control' } %>
        <% else %>
          <%= f.text_field :fulfillment_code, readonly: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% unless @campaign.new_record? %>
<div class='row-fluid'>
  <div class='span12'>
    <p class="muted"><i class="icon-info-sign"></i> There are some fields that can not be updated.</p>
  </div>
</div>
<% end %>

<br>

<div class="form-actions">
  <%= f.submit nil, :class => 'btn btn-primary', :id => 'submit_button' %>
  <%= link_to t(:cancel), :back, :class => 'btn', :id => 'cancel_button' %>  
</div>

<script>
  var clubId = "<%= current_club.id %>";
  var getSubscriptionPlansUrl = "<%= get_subscription_plans_path(partner_prefix: current_club.partner.prefix, club_prefix: current_club.name) %>";
  var getFulfillmentCodesUrl = "<%= get_fulfillment_codes_path(partner_prefix: current_club.partner.prefix, club_prefix: current_club.name) %>";
  var placeholderText = "Choose one...";
  var placeholderTextFulfillmentCodes = "New automatic code";
  
  <% unless @campaign.new_record? %>
  var can_edit_transport_id = <%= @can_edit_transport_id %>;
  <% end %>

  $(document).ready( campaignFormFunctions() );
</script>
