<div class='row-fluid'>
  <div class='span6'>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field', required: true %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :subscription_plan, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :terms_of_membership_id, options_from_collection_for_select(@terms_of_memberships, "id", "name"), { class: 'form-control' } %> 
      </div>
    </div>

    <div class="control-group">
      <%= f.label :enrollment_price, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :enrollment_price, required: true, within: 0...1000, step: 0.01 %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :initial_date, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :initial_date, :class => 'datepicker input-small readonly', required: true %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :finish_date, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :finish_date, :class => 'datepicker input-small readonly', required: true %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :campaign_type, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :campaign_type, options_for_select(Campaign.campaign_types_i18n.invert, @campaign.campaign_type), { class: 'form-control' } %> 
      </div>
    </div>
  </div>

  <div class='span6'>
    <div class="control-group">
      <%= f.label :source, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :transport, options_for_select(Campaign.transports_i18n.invert, @campaign.transport), { class: 'form-control' } %> 
      </div>
    </div>

    <div class="control-group">
      <%= f.label :transport_campaign_id, 'Source ID', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :transport_campaign_id, :class => 'text_field', required: true %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :campaign_medium, 'Campaign medium', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :campaign_medium, :class => 'text_field', disabled: true %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :campaign_medium_version, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :campaign_medium_version, required: true %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :marketing_code, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :marketing_code, required: true %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :fulfillment_code, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :fulfillment_code, options_for_select(@fulfillment_codes, @campaign.fulfillment_code), { class: 'form-control' } %> 
      </div>
    </div>
  </div>
</div>

<% if action_name == 'edit' %>
<div class='row-fluid'>
  <div class='span12'>
    <p class="muted"><i class="icon-info-sign"></i> There are some fields that can not be updated.</p>
  </div>
</div>
<% end %>

<br>

<div class="form-actions">
  <%= f.submit nil, :class => 'btn btn-primary', :id => 'submit_button' %>
  <%= link_to t(:cancel), :back, :class => 'btn', :id => 'cancel_button' %>  
</div>

<script>
  $(document).ready( campaignFormFunctions() );
</script>