<div class='row-fluid'>
  <div class='span12'>
    <h2>Edit <%= t('activerecord.model.campaign') %></h2>
    <hr />
  </div>
</div>
<%= form_for @campaign, :as => :campaign, :url => campaign_path(:id => @campaign), :html => { :class => 'form-horizontal' } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>

<% content_for :javascript do %>
  var canEditTransportId = <%= @campaign.can_edit_transport_id? %>;
  var canSetDatesInThePast = <%= @campaign.can_set_dates_in_the_past? %>;
  editCampaignFunctions(canEditTransportId, canSetDatesInThePast)
<% end %>