<div class='row-fluid'>
  <div class='span12'>
    <h2><%= @campaign.name %></h2>
    <h4><%= t('activerecord.model.campaign') %></h4>
    <hr />
  </div>
</div>

<div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td><b>Campaign Type:</b> <%= @campaign.campaign_type %></td>
        <td><b>Subscription Plan:</b> <%= @campaign.terms_of_membership.name %></td>
        <td><b>Enrollment Price:</b> <%= number_to_currency(@campaign.enrollment_price) %></td>
        <td><b>Running from:</b> <%= @campaign.initial_date %>
        <% if @campaign.finish_date.present? %>
          <b>to</b> <%= @campaign.finish_date %></td>
        <% end %>
      </tr>
      <tr>
        <td><b>Source:</b> <%= @campaign.transport %></td>
        <td><b>Campaign Medium:</b> <%= @campaign.campaign_medium %></td>
        <td><b>Campaign Medium Version:</b> <%= @campaign.campaign_medium_version %></td>
        <td><b>Marketing Code:</b> <%= @campaign.marketing_code %></td>
      </tr>
      <tr>
        <td><b>Fulfillment Code:</b> <%= @campaign.fulfillment_code %></td>
        <td><b>Landing name:</b> <%= @campaign.landing_name %></td>
        <td colspan='2'><b>Landing url:</b> <%= text_field_tag('landing_url', @campaign.landing_url, class: 'text_field input-xxlarge', readonly: true) %> </td>

      </tr>
    </tbody>
  </table>
</div>

<div class='row-fluid'>
  <div class='span12'>
    <div class="form-actions">
      <%= link_to t('back', default: t('helpers.links.back')), campaigns_path, class: 'btn' %>
    </div>
  </div>
</div>
