<section>
  <div class="page-header">    
    <h1><%= @et.name %></h1>
    <h3>ID: <%= @et.id %></h3>
  </div>
  <% if can? :edit, EmailTemplate %>
    <%= link_to(edit_terms_of_membership_email_template_path, :class => "btn btn-primary btn_on_header", :id => "edit_communication") do %> 
      Edit Communication
    <% end %>
  <% end %>
  <div><h4>General Information</h4></div>
  <div class="table-bordered">
    <div class="row-fluid">
      <div class="span2"><b><%= t('activerecord.attributes.email_template.template_type') %>: </b><%= @et.template_type %></div>
      <div class="span2"><b><%= t('activerecord.attributes.email_template.client') %>: </b><%= @et.client %></div>
      <div class="span2"><b><%= t('activerecord.attributes.email_template.days_after_join_date') %>: </b><%= @et.days_after_join_date %></div>
      <div class="span2"><b><%= t('activerecord.attributes.email_template.created_at') %>: </b><%= @et.created_at %></div>
      <div class="span2"><b><%= t('activerecord.attributes.email_template.updated_at') %>: </b><%= @et.updated_at %></div>
    </div>
  </div>
  <div><h4>External Attributes</h4></div>
  <div class="table-bordered">
    <div class="row-fluid">
      <div class="span2"><%= @et.external_attributes != nil ? @et.external_attributes : 'Not set' %></div>
    </div>
  </div>
    
</section>