
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :package, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :package, :class => 'text_field' %>
      <%= render :partial => "shared/help", :locals => { :title => t('example'), :content => t('activerecord.attributes.product.package_help')} %> 
    </div>
  </div>

  <div class="control-group">
    <%= f.label :sku, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sku, :class => 'text_field' %>
      <%= render :partial => "shared/help", :locals => { :title => t('example'), :content => t('activerecord.attributes.product.sku_help')} %> 
    </div>
  </div>
  <div class="control-group">
    <%= f.label :recurrent, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :recurrent, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stock, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :stock, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :weight, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :weight, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :allow_backorder, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :allow_backorder, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :is_visible, t('activerecord.attributes.product.is_visible_label') ,:class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :is_visible, :class => 'check_box' %> <%= render :partial => "shared/help", :locals => { :title => t('activerecord.attributes.product.is_visible'), :content => t('activerecord.attributes.product.is_visible_help')} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cost_center, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cost_center, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                products_path, :class => 'btn' %>
  </div>

<script>
  $(document).ready(new_product_functions())
</script>