<section>
  <div class="page-header">
    <h1>Product</h1>
    <% if can? :create, Product %>
      <%= link_to(new_product_path, :class => "btn btn-primary btn_on_header", :id => "new_product") do %> 
        <i class="icon-plus"></i> New Product
      <% end %>
    <% end %>
  </div>

  <table id="products_table" class="table table-bordered table-condensed dataTable" data-source="<%= products_url(format: "json") %>">
    <thead>
      <tr>
        <th> <%= t('activerecord.attributes.product.id') %> </th>
        <th> <%= t('activerecord.attributes.product.name') %> </th>
        <th> <%= t('activerecord.attributes.product.sku') %> </th>
        <th> <%= t('activerecord.attributes.product.stock') %> </th>
        <th> <%= t('activerecord.attributes.product.allow_backorder') %> </th>
        <th> <%= t('actions') %> </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</section>

<script>
  $(document).ready(product_index_functions(<%= Product.datatable_columns.size %>));
</script>