<section>
  <div class="page-header">
    <h1>Product</h1>
    <% if can? :create, Product %>
      <%= link_to(new_product_path, :class => "btn btn-primary btn_on_header", :id => "new_product") do %> 
        <i class="icon-plus"></i> New Product
      <% end %>
    <% end %>
  </div>

  <table id="products_table" class="table table-bordered table-condensed dataTable" data-source="<%= products_url(format: "json") %>">
    <thead>
      <tr>
        <th> <%= t('activerecord.attributes.product.id') %> </th>
        <th> <%= t('activerecord.attributes.product.name') %> </th>
        <th> <%= t('activerecord.attributes.product.sku') %> </th>
        <th> <%= t('activerecord.attributes.product.stock') %> </th>
        <th> <%= t('activerecord.attributes.product.allow_backorder') %> </th>
        <th> <%= t('actions') %> </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</section>

<br><br>
<div>
  <%= form_tag(bulk_update_products_path, method: 'put', multipart: true, id: 'bulk_update_form') do %>
    <%= label :file, "Products csv file", :class => 'help-inline' %>: 
    <%= file_field_tag 'file', accept: '.csv', id: 'bulk_update_file' %>
    <%= submit_tag 'Process Bulk Update File', class: 'btn btn-success', id: 'bulk_update_submit' %>
    <%= link_to "Download example file", '/examples/products_bulk_update_example.csv', class: 'btn' %>
    <%= render :partial => 'shared/help', :locals => { :title => t('activerecord.attributes.product.bulk_update_help_title'), :content => t('activerecord.attributes.product.bulk_update_help_content')} %>
  <% end %>
</div>
<script>
  $(document).ready(product_index_functions(<%= Product.datatable_columns.size %>));
</script>