<%- model_class = @product.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:name) %>:</strong><br>
  <%= @product.name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:package) %>:</strong><br>
  <%= @product.package %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:sku) %>:</strong><br>
  <%= @product.sku %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:cost_center) %>:</strong><br>
  <%= @product.cost_center %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:recurrent) %>:</strong><br>
  <%= @product.recurrent %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:stock) %>:</strong><br>
  <%= @product.stock %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:allow_backorder) %>:</strong><br>
  <%= @product.allow_backorder %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:weight) %>:</strong><br>
  <%= @product.weight %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:club_id) %>:</strong><br>
  <%= @product.club_id %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:is_visible) %>:</strong><br>
  <%= @product.is_visible %>
</p>

<div class="form-actions">
  <%= link_to t('back', :default => t("helpers.links.back")),
              products_path, :class => 'btn' %>
  <%= link_to t('destroy', :default => t("helpers.links.destroy")),
              product_path(@current_partner.prefix, @current_club.name, @product),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
