<div id='contact_box' class='panel panel-info'>
  <div class='panel-heading'>
    <h3 class='panel-title'><%= t('checkout.contact_us') %></h3>
  </div>
  <div class='panel-body'>
    <div class="row text-center">
      <div class='col-xs-12'>
        <% if @club.cs_email.present? %>
          <%= mail_to @club.cs_email, t('checkout.email_us') %>
          <br />
        <% end %>
        <% if @club.cs_phone_number.present? %>
          <%= t('checkout.call') %>: <a href="tel:<%= @club.cs_phone_number %>"><%= @club.cs_phone_number %></a><br />
          9AM to 5PM EST<br />
          Monday - Friday<br />
        <% end %>
      </div>
    </div>
  </div>
</div>
