<div id='todays_total_box' class='panel panel-info'>
  <div class='panel-heading'>
    <h3 class='panel-title'><%= t('checkout.checkout_page.todays_total') %></h3>
  </div>
  <div class='panel-body'>
    <div class="row">
      <div class='col-xs-7 text-left'><p><%= @product.name %></p></div>
      <div class='col-xs-5 text-right'><p><%= number_to_currency(0) %></p></div>
    </div>
    <div class="row">
      <div class='col-xs-7 text-left'><p><%= t('checkout.checkout_page.bonus_gift') %></p></div>
      <div class='col-xs-5 text-right'><p><%= number_to_currency(0) %></p></div>
    </div>
    <div class="row">
      <div class='col-xs-7 text-left'><p><%= t('checkout.checkout_page.shipping_and_processing') %></p></div>
      <div class='col-xs-5 text-right'><p><%= number_to_currency(@campaign.enrollment_price) %></p></div>
    </div>
    <div class="row">
      <div class='col-xs-12 text-center'><hr /></div>
    </div>
    <div class="row">
      <div class='col-xs-7 text-left'><h4><%= t('checkout.checkout_page.todays_total') %></h4></div>
      <div class='col-xs-5 text-right'><h4><%= number_to_currency(@campaign.enrollment_price) %></h4></div>
    </div>
  </div>
</div>
