<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => "shared/head"%>
  </head>
  <body>
    <%= render :partial => "shared/header" %>
    <div class="container">
      <div class="content">
        <%= render :partial => "shared/flash_messages", :locals => {:flash => flash}%>
        <%= render :partial => 'shared/breadcrumb' %>
        <div class="row">
          <div class="span9">
            <%= yield %>
          </div>
          <%= render :partial => "shared/sidebar"%>
        </div><!--/row-->
      </div><!--/content-->

      <%= render :partial => "shared/footer"%>
    </div> <!-- /container -->

    <script type="text/javascript">
     $(function(){
        doOnReadyforAllPages();
        <% if content_for?(:javascript) %>
          <%= yield :javascript %>
        <% end %>
      });
    </script>
  </body>
</html>
