<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => "shared/head"%>
  </head>
  <body>

    <% cache(["header", current_agent, @current_club]) do %> 
      <%= render :partial => "shared/header" %>
    <% end %>
    
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="span12">
            <%= render :partial => "shared/flash_messages", :locals => {:flash => flash} %>
            <%= render :partial => 'shared/breadcrumb' %>
          </div>
        </div><!--/row-->
        <div class="row">
          <div class="span12">
            <%= yield %>
          </div>
        </div><!--/row-->
      </div><!--/content-->
      <br>
      <%= render :partial => "shared/footer"%>
    </div> <!-- /container -->

    <% if Rails.env.production? and params[:controller].include?('users') and ['index', 'show'].include?(params[:action]) and  params[:club_prefix] == 'Nascar' %>
      <script type="text/javascript">
        setTimeout(function(){var a=document.createElement("script");
        var b=document.getElementsByTagName("script")[0];
        a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0011/1006.js?"+Math.floor(new Date().getTime()/3600000);
        a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
      </script>
    <% end %>

  </body>
</html>
