<table class="table table-condensed table-bordered">
  <thead>
    <th>success</th>
  	<th>template_name</th>
  	<th>email</th>
  	<th>scheduled_at</th>
  	<th>processed_at</th>
  	<th>template_type</th>

  </thead>
  <tbody>
  <% unless @fulfillments.nil? %>
  	<% @communications.each do |communication| %>
	  <td> 
	  	<% if communication.sent_success %> 
	  	<i class ="icon-ok help" rel= "popover" 
	  	    data-original-title = "<%= t('activerecord.attributes.communication.response')%> " 
		    data-content = "<%= communication.response %>"></i>
	  	<% end %>
	  </td>
	  <td> <%= communication.template_name %> </td>
	  <td> <%= communication.email %> </td>
	  <td> <%= I18n.l communication.scheduled_at, :format => :long if communication.scheduled_at %> </td>
	  <td> <%= I18n.l communication.processed_at, :format => :long if communication.processed_at %> </td>
	  <td> <%= communication.template_type %> </td>

	 <% end %>
  <% end %>
  </tbody>
</table>