<table class="table table-condensed table-bordered">
  <thead>
    <th> <%= t('activerecord.attributes.communication.sent_success') %> </th>
  	<th> <%= t('activerecord.attributes.communication.template_name') %> </th>
  	<th> <%= t('activerecord.attributes.communication.email') %> </th>
  	<th> <%= t('activerecord.attributes.communication.scheduled_at') %> </th>
  	<th> <%= t('activerecord.attributes.communication.processed_at') %> </th>
  	<th> <%= t('activerecord.attributes.communication.template_type') %> </th>
  </thead>
  <tbody>
  <% unless @fulfillments.nil? %>
  	<% @communications.each do |communication| %>
  	<tr>
	  <td> 
	  	<% if communication.sent_success %> 
	  	<i class ="icon-ok help" rel= "popover" 
	  	    data-original-title = "<%= t('activerecord.attributes.communication.response')%> " 
		    data-content = "<%= communication.response %>"></i>
	  	<% end %>
	  </td>
	  <td> <%= communication.template_name %> </td>
	  <td> <%= communication.email %> </td>
	  <td> <%= I18n.l communication.scheduled_at, :format => :long if communication.scheduled_at %> </td>
	  <td> <%= I18n.l communication.processed_at, :format => :long if communication.processed_at %> </td>
	  <td> <%= communication.template_type %> </td>
	 <% end %>
  	<tr>
  <% end %>
  </tbody>
</table>