<%= link_to "Add a credit card", new_credit_card_path, :class => "btn btn-warning" %>
<table class="table table-bordered datatable_only_sorting">
  <thead>
    <tr>
      <th> <%= t('activerecord.attributes.credit_card.number') %> </th>
      <th> <%= t('activerecord.attributes.credit_card.expire_date') %> </th>
      <th> <%= t('actions') %> </th>
    </tr>
  </thead>
  <tbody>
    <% credit_cards.each do |cc| %>
    <tr>
      <td> <%= cc.number %> </td>
      <td> <%= cc.expire_month %> / <%= cc.expire_year %> </td>
      <td>
        <%= form_for @cc, :as => :credit_card, :url => credit_card_set_as_blacklisted_path(:credit_card_id => cc.id), do |f|  %> 
          <%= submit_tag 'BlackList', :name => 'blacklist', :class=> "btn btn-warning confirm" %>
        <% end %>
        <%= form_for @cc, :as => :credit_card, :url => credit_card_activate_path(:credit_card_id => cc.id), do |f| %>
          <%= submit_tag 'Activate', :name => 'activate', :class=> "btn btn-warning confirm" unless cc.active %>
        <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>

</table>

<%= will_paginate credit_cards %>
