
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th> 
        <% if can? :see_credit_card, CreditCard %>
          <%= t('activerecord.attributes.credit_card.number') %> 
        <% elsif can? :see_credit_card_last_digits, CreditCard %>
          <%= t('activerecord.attributes.credit_card.last_digits') %> 
        <% end %> 
      </th>
      <th> <%= t('activerecord.attributes.credit_card.expire_date') %> </th>
      <th> <%= t('activerecord.attributes.credit_card.last_successful_bill_date') %> </th>
      <th> <%= t('actions') %> </th>
    </tr>
  </thead>
  <tbody>
    <% credit_cards.each do |cc| %>
    <!-- Improve css with fnCreatedCell (see the gem was updated.)-->
    <tr <% if cc.blacklisted %> 
          class="blacklisted" 
        <% elsif cc.active %>
          class = "ligthgreen"
        <% else %>
          class="<%= cycle("odd","even") %>" 
        <% end %>
        >
      <td> 
        <% if can? :see_credit_card, cc %>
          <%= cc.number %>
        <% elsif can? :see_credit_card_last_digits, cc %>
          <%= cc.last_digits %>
        <% end %> 
      </td>
      <td> <%= cc.expire_month %> / <%= cc.expire_year %> </td>
      <td> <%= I18n.l cc.last_successful_bill_date, :format => :long if !cc.last_successful_bill_date.nil? %> </td>
      <td>
        <% if cc.blacklisted %>
          <% if can? :undo_credit_card_blacklist, cc %>
            <%= form_for @cc, :as => :credit_card, :url => credit_card_unset_blacklisted_path(:credit_card_id => cc.id), do |f|  %> 
              <%= submit_tag 'UnsetBlacklist', :name => 'blacklist', :class=> "btn btn-warning confirm" %>
            <% end %>
          <% else %>
            <%= t('activerecord.attributes.credit_card.blacklisted') %>
          <% end %>    
        <% end %>
        <%= t('activerecord.attributes.credit_card.active') if cc.active %>
        <% if cc.can_be_activated? %>
          <%= form_for @cc, :as => :credit_card, :url => credit_card_activate_path(:credit_card_id => cc.id), do |f| %>
            <%= submit_tag 'Activate', :name => 'activate', :class=> "btn btn-warning confirm" %>
          <% end %>
        <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>


