
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th> <%= t('activerecord.attributes.credit_card.number') %> </th>
      <th> <%= t('activerecord.attributes.credit_card.expire_date') %> </th>
      <th> <%= t('activerecord.attributes.credit_card.last_successful_bill_date') %> </th>
      <th> <%= t('actions') %> </th>
      <th> <%= t('actions') %> </th>
    </tr>
  </thead>
  <tbody>
    <% credit_cards.each do |cc| %>
    <!-- Improve css with fnCreatedCell (see the gem was updated.)-->
    <tr <% if cc.blacklisted %> 
          class="blacklisted" 
        <% elsif cc.active %>
          class = "ligthgreen"
        <% else %>
          class="<%= cycle("odd","even") %>" 
        <% end %>
        >
      <td
         > 
        <%= cc.number %> 
      </td>
      <td> <%= cc.expire_month %> / <%= cc.expire_year %> </td>
      <td> <%= I18n.l cc.last_successful_bill_date, :format => :long if !cc.last_successful_bill_date.nil? %> </td>
      <td>
        <%= form_for @cc, :as => :credit_card, :url => credit_card_set_as_blacklisted_path(:credit_card_id => cc.id), do |f|  %> 
          <%= submit_tag 'BlackList', :name => 'blacklist', :class=> "btn btn-warning confirm" unless @current_member.lapsed? || cc.blacklisted %>
          <% t('activerecord.attributes.credit_card.blacklisted') if cc.blacklisted%>
        <% end %>
      </td>
      <td>
        <%= form_for @cc, :as => :credit_card, :url => credit_card_activate_path(:credit_card_id => cc.id), do |f| %>
          <%= submit_tag 'Activate', :name => 'activate', :class=> "btn btn-warning confirm" unless cc.active || @current_member.lapsed? || cc.blacklisted %>
          <%= t('activerecord.atributes.credit_card.active') if cc.active %>
        <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>


