
<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2">Credit Cards <%= link_to "Add a credit card", new_credit_card_path, :class => "btn btn-warning" %></th>
    </tr>
  </thead>
  <% credit_cards.each do |cc| %>
  <tr>
    <td>
      <%= t('activerecord.attributes.credit_card.number') %>: <%= cc.number %>
    </td>
    <td>
      <%= t('activerecord.attributes.credit_card.expire_date') %>: <%= cc.expire_month %> / <%= cc.expire_year %>
    </td>
    <td>
      <%= link_to 'BlackList', '#', :class => "btn btn-warning confirm" %>
      <%= link_to 'Activate', '#', :class=> "btn btn-warning confirm" if !cc.active%>
    </td>
  </tr>
  <% end %>

</table>

<%= will_paginate credit_cards %>
