

<div class = "box"> 
  <p>   

  </p>
  <div class="control-group" >
    <%= f.label :first_name, :class => 'help-inline' %> <%= f.text_field :first_name, :class => 'text_field'%> 
    <%= f.label :last_name, :class => 'help-inline' %> <%= f.text_field :last_name, :class => 'text_field'%>
  </div>
  <hr>
  <div class="control-group" >
    <%= f.label :address, :class => 'help-inline' %> <%= f.text_field :address, :class => 'text_field'%> 
    <%= f.label :city, :class => 'help-inline' %> <%= f.text_field :city, :class => 'text_field input-medium'%>
  </div>
  <div class="control-group" >
    <%= f.label :state, :class => 'help-inline' %> <%= f.text_field :state, :class => 'text_field input-medium'%> 
    <%= f.label :country, :class => 'help-inline' %> <%= f.text_field :country, :class => 'text_field input-medium'%>
    <%= f.label :zip, :class => 'help-inline' %> <%= f.text_field :zip, :class => 'text_field input-medium'%>
  </div>
  <hr>
  <div class="control-group" >
    <%= f.label :home_phone, :class => 'help-inline' %> <%= f.text_field :home_phone, :class => 'text_field input-medium'%>
    <%= f.label :work_phone, :class => 'help-inline' %> <%= f.text_field :work_phone, :class => 'text_field input-medium'%>
  </div>  
  <div class="control-group" >
    <%= f.label :email, :class => 'help-inline' %> <%= f.text_field :email, :class => 'text_field'%> 
  </div>  
</div>