<table class="table table-condensed"> 
  <% if !@member.new_record? %>
  <tr class="control-group"> 
    <td colspan="4">
    <%= t('activerecord.attributes.member.member_group_type') %>:
    <% if !@member_group_types.nil? %>
      <%= f.select :member_group_type_id, 
                  options_from_collection_for_select(@member_group_types, "id","name", 
                  {:selected => @member.member_group_type_id }), :include_blank => '' %>
    <% else %>
      <%= t('activerecord.attributes.member.does_not_have_member_groups')  %>
    <% end %>
    </td>
  </tr> 
  <% end %>
  <tr class="control-group" ><td colspan="4"> <b> Demographic Information </b> </td></tr>
  <tr class="control-group" >  
    <td><%= f.label :first_name, t('activerecord.attributes.member.first_name'), :class => 'help-inline' %></td>
    <td><%= f.text_field :first_name, :class => 'text_field'%> </td>
    <td><%= f.label :last_name,t('activerecord.attributes.member.last_name'), :class => 'help-inline' %></td>
    <td> <%= f.text_field :last_name, :class => 'text_field'%> </td>
  </tr>
  <tr class="control-group" >
    <td><%= f.label :address, t('activerecord.attributes.member.address'), :class => 'help-inline' %></td>
    <td> <%= f.text_field :address, :class => 'text_field'%> 
      <% if !@member.new_record? && !@member.wrong_address.nil? %>
        <%= t('activerecord.attributes.member.unset_wrong_address') %>
        <%= check_box :setter, :wrong_address %>
      <% end %>
    </td> 
    <td> <%= f.label :city, t('activerecord.attributes.member.city'), :class => 'help-inline' %> </td>
    <td> <%= f.text_field :city, :class => 'text_field input-medium'%> </td>
  </tr>
  <tr class="control-group" >
    <td> <%= f.label :state, t('activerecord.attributes.member.state'), :class => 'help-inline' %> </td>
    <td> <%= f.text_field :state, :class => 'text_field input-medium'%> </td>
    <td> <%= f.label :zip, t('activerecord.attributes.member.zip'), :class => 'help-inline' %> </td>
    <td> 
      <%= f.text_field :zip, :class => 'text_field input-small'%> 
      <%= render :partial => "shared/help", :locals => { :title => t('example'), :content => t('activerecord.attributes.member.zip_help')} %> 
    </td>
  </tr>
  <tr class="control-group">
    <td> <%= f.label :country, t('activerecord.attributes.member.country'), :class => 'help-inline' %> </td>
    <td colspan="3"> <%= f.country_code_select(:country, [[ 'United States', 'US' ]]) %> </td>
  </tr>

  <tr class="control-group" ><td colspan="4"> <b> Contact Information </b> </td></tr>
  <tr class="control-group" >
    <td>
      <%= f.label :phone_number, t('activerecord.attributes.member.phone_number'), :class => 'help-inline' %>
    </td>
    <td> 
      <%= f.text_field :phone_number, :class => 'text_field input-medium'%> 
      <%= render :partial => "shared/help", :locals => { :title => t('example'), :content => t('activerecord.attributes.member.phone_number_help')} %>
      <% if !@member.new_record? && !@member.wrong_phone_number.nil? %>
        <%= t('activerecord.attributes.member.unset_wrong_phone_number') %>
        <%= check_box :setter, :wrong_phone_number %>
      <% end %>
    </td>
    <td> <%= f.label :email, t('email'), :class => 'help-inline' %> </td>
    <td> <%= f.text_field :email, :class => 'text_field'%> </td>
  </tr>  

  <% if @member.new_record? %>
    <tr class="control-group">
      <td>
       <%= label :terms_of_membership_id, t('activerecord.attributes.member.terms_of_membership_id'), :class => 'help-inline' %> 
      </td>
      <td colspan="3"> 
        <%= f.select(:terms_of_membership_id, options_from_collection_for_select(@terms_of_memberships, "id", "name")) %>
      </td>
    </tr>

    <tr class="control-group" >
      <td colspan="4"> 
      <b> Credit Card </b> 
      <%= f.label :allow_cc_blank,t('Allow blank credit card?'), :class => 'help-inline' %> 
      <%= check_box :setter, :cc_blank %>
      </td>
    </tr>  

  <%= f.fields_for :credit_card do |credit_Card| %>
    <tr class="control-group" >
      <td>
        <%= credit_Card.label :encrypted_number, t('activerecord.attributes.credit_card.number'), 
                    :class => 'help-inline' %>
      </td> 
      <td> <%= credit_Card.text_field :number, :class => 'text_field input-medium'%> </td>
      <td colspan="2"> 
        <%= credit_Card.label :expire_month, t('activerecord.attributes.credit_card.expire_month'), :class => 'help-inline' %> 
        <%=credit_Card.text_field :expire_month, :class => 'text_field input-medium' %>
        <%= credit_Card.label :expire_year, t('activerecord.attributes.credit_card.expire_year'), :class => 'help-inline' %> 
        <%= credit_Card.text_field :expire_year, :class => 'text_field input-small' %>
      </td>
    </tr>
  <% end %>
  </tr>
  <% end %>

 <tr class="control-group">
    <th colspan="4"> <%= f.submit nil, :class => 'btn btn-primary' %>
      <% if @member.new_record? %>
        <%= link_to t(:Cancel), :back, :class => 'btn'   %>  
      <% else %>
        <%= link_to t('buttons.return_to_member_show'), show_member_path, :class => 'btn' %> 
      <% end %>
    </th>
  </tr>
</table>

<% if @member.new_record? %>
  <%= f.hidden_field :enrollment_amount, :value => 0.0 %>
<% end %>

