
<table class="table table-condensed table-bordered">
  <thead>
      <th> <%= t('activerecord.attributes.fulfillment.asigned_at') %> </th>
  	  <th> <%= t('activerecord.attributes.fulfillment.product') %> </th>
  	  <th> <%= t('activerecord.attributes.fulfillment.renewable_at') %> </th>   
      <th> <%= t('activerecord.attributes.fulfillment.status') %> </th> 
  	  <th> <%= t('actions') %> </th>    
   	</tr>
  </thead>
  <tbody>
 	  <% if @fulfillments.count == 0 %>
      <tr> <td colspan="5"> <%= t('activerecord.attributes.fulfillment.not_found') %> </td> </tr>
    <% end %> 
    <% @fulfillments.each do |fulfillment| %>
  		<tr <% if fulfillment.processing? %> 
        	  class="ligthgreen" 
       		 <% end %> >
        <td> <%= I18n.l fulfillment.assigned_at, :format => :long %> </td>
        <td> <%= fulfillment.product_sku %> </td>
        <td> <%= I18n.l fulfillment.renewable_at, :format => :long unless fulfillment.renewable_at.nil? %> </td>
        <td> <%= fulfillment.status %> </td>
        <td NOWRAP>
          <%= render :partial => "shared/fulfillment_actions", :locals => {:fulfillment => fulfillment, :member_show => true} %>
        </td>
      </tr>
    <% end %>	
  </tbody>
</table>
