
<table class="table table-condensed table-bordered">
  <thead>
      <th> <%= t('activerecord.attributes.fulfillment.asigned_at') %> </th>
  	  <th> <%= t('activerecord.attributes.fulfillment.product') %> </th>
      <th> <%= t('activerecord.attributes.fulfillment.renewed') %> </th>   
  	  <th> <%= t('activerecord.attributes.fulfillment.renewable_at') %> </th>   
      <th> <%= t('activerecord.attributes.fulfillment.status') %> </th> 
   	</tr>
  </thead>
  <tbody>
 	  <% if @fulfillments.count == 0 %>
      <tr> <td colspan="5"> <%= t('activerecord.attributes.fulfillment.not_found') %> </td> </tr>
    <% end %> 
    <% @fulfillments.each do |fulfillment| %>
  		<tr <% if fulfillment.in_process? %> 
        	  class="ligthgreen" 
       		 <% end %> >
        <td> <%= I18n.l fulfillment.assigned_at, :format => :only_date %> </td>
        <td> <%= fulfillment.product_sku %> </td>
        <td> <%= fulfillment.recurrent ? (fulfillment.renewed ? 'Yes' : 'No') : '-' %> </td>
        <td> <%= fulfillment.renewable_at.nil? ? '-' : I18n.l(fulfillment.renewable_at, :format => :only_date) %> </td>
        <td> <%= fulfillment.status %> </td>
      </tr>
    <% end %>	
  </tbody>
</table>
