
<table class="table table-condensed table-bordered">
  <thead>
      <th> <%= t('activerecord.attributes.fulfillment.asigned_at') %> </th>
  	  <th> <%= t('activerecord.attributes.fulfillment.product') %> </th>
  	  <th> <%= t('activerecord.attributes.fulfillment.renewable_at') %> </th>   
      <th> <%= t('activerecord.attributes.fulfillment.status') %> </th> 
  	  <th> <%= t('actions') %> </th>    
   	</tr>
  </thead>
  <tbody>
 	  <% if @fulfillments.count == 0 %>
      <tr> <td colspan="5"> <%= t('activerecord.attributes.fulfillment.not_found') %> </td> </tr>
    <% end %> 
    <% @fulfillments.each do |fulfillment| %>
  		<tr <% if fulfillment.processing? %> 
        	  class="ligthgreen" 
       		 <% end %> >
        <td> <%= I18n.l fulfillment.assigned_at, :format => :long %> </td>
        <td> <%= fulfillment.product_sku %> </td>
        <td> <%= I18n.l fulfillment.renewable_at, :format => :long unless fulfillment.renewable_at.nil? %> </td>
        <td> <%= fulfillment.status %> </td>
        <td>
          <% if fulfillment.processing? %>
            <% unless @current_member.wrong_address %>
              <%= link_to 'Mark as sent', '#', :id => "mark_as_sent", :name => fulfillment.id, :class=> "btn btn-small" %>
            <% else %>
              <%= 'activerecord.attributes.member.undeliverable' %>
            <% end %>
          <% elsif fulfillment.out_of_stock? %>
            <p style = 'float:left;'> Actual stock: <%= fulfillment.product.stock %>. </p> &nbsp
            <% if fulfillment.product.stock > 0 %>
              <%= link_to 'Resend','#', :id => 'resend', :name => fulfillment.id ,:class=> "btn btn-small"%>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>	
  </tbody>
</table>
