<% if defined? SacExactTarget::MemberModel and @current_member.exact_target_sync? %>
  <table id="exact_target_sync" class="table table-bordered table-condensed">
    <thead>
      <tr class="box_title">
        <th colspan="2"><h4>Exact Target sync</h4></th>
        <td style="border: none; text-align: right;" colspan="2">
          <%= 
            link_to member_exact_target_sync_path, 
              method: :post, 
              class: 'btn btn-mini btn-warning', 
              id: "sync_to_remote",
              confirm: 'Are you sure?' do %>
            <i class='icon-retweet'></i>
            <%= t('buttons.sync_to_remote') %>
          <% end %>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><%= t("activerecord.attributes.member.marketing_client_synced_status") %></th>
        <th><%= t("activerecord.attributes.member.marketing_client_last_synced_at") %></th>
        <th><%= t("activerecord.attributes.member.marketing_client_last_sync_error") %></th>
        <th><%= t("activerecord.attributes.member.marketing_client_last_sync_error_at") %></th>
      </tr>
      <tr>
        <td><span class='label label-<%=t @current_member.marketing_client_synced_status, scope: 'activerecord.attributes.member.pardot_synced_status_priorities' -%>' id="span_mi_pardot_synced_status"><%=t @current_member.marketing_client_synced_status, scope: 'activerecord.attributes.member.pardot_synced_status_captions' -%></span></td>
        <td><%= l(@current_member.marketing_client_last_synced_at, format: :dashed) if @current_member.marketing_client_last_synced_at %></td>
        <td><%= @current_member.marketing_client_last_sync_error %></td>
        <td><%= l(@current_member.marketing_client_last_sync_error_at, format: :dashed) if @current_member.marketing_client_last_sync_error_at %></td>
      </tr>
    </tbody>
  </table>
<% end %>

<% if defined? Pardot::Member and @current_member.pardot_sync? %>
  <table id="table_pardot_sync" class="table table-bordered table-condensed">
    <thead>
      <tr class="box_title">
        <th colspan="5"><h4>Pardot sync</h4>
          <%= 
            link_to member_pardot_sync_path, 
              method: :post, 
              class: 'btn btn-mini btn-warning', 
              id: "sync_to_remote",
              confirm: 'Are you sure?' do %>
            <i class='icon-retweet'></i>
            <%= t('buttons.sync_to_remote') %>
          <% end %>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><%= t("activerecord.attributes.member.marketing_client_id") %></th>
        <th><%= t("activerecord.attributes.member.marketing_client_synced_status") %></th>
        <th><%= t("activerecord.attributes.member.marketing_client_last_synced_at") %></th>
        <th><%= t("activerecord.attributes.member.marketing_client_last_sync_error") %></th>
        <th><%= t("activerecord.attributes.member.marketing_client_last_sync_error_at") %></th>
      </tr>
      <tr>
        <td><%= @current_member.marketing_client_id %></td>
        <td><span class='label label-<%=t @current_member.marketing_client_synced_status, scope: 'activerecord.attributes.member.pardot_synced_status_priorities' -%>' id="span_mi_pardot_synced_status"><%=t @current_member.marketing_client_synced_status, scope: 'activerecord.attributes.member.pardot_synced_status_captions' -%></span></td>
        <td><%= l(@current_member.marketing_client_last_synced_at, format: :dashed) if @current_member.marketing_client_last_synced_at %></td>
        <td><%= @current_member.marketing_client_last_sync_error %></td>
        <td><%= l(@current_member.marketing_client_last_sync_error_at, format: :dashed) if @current_member.marketing_client_last_sync_error_at %></td>
      </tr>
    </tbody>
  </table>
<% end %>

<% if defined? SacMailchimp::MemberModel and @current_member.mailchimp_sync? %>
  <table id="mailchimp_sync" class="table table-bordered table-condensed">
    <thead>
      <tr class="box_title">
        <th colspan="2"><h4>Mailchimp sync</h4></th>
        <td style="border: none; text-align: right;" colspan="2">
          <%= 
            link_to member_mailchimp_sync_path, 
              method: :post, 
              class: 'btn btn-mini btn-warning', 
              id: "sync_to_remote",
              confirm: 'Are you sure?' do %>
            <i class='icon-retweet'></i>
            <%= t('buttons.sync_to_remote') %>
          <% end %>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><%= t("activerecord.attributes.member.marketing_client_synced_status") %></th>
        <th><%= t("activerecord.attributes.member.marketing_client_last_synced_at") %></th>
        <th><%= t("activerecord.attributes.member.marketing_client_last_sync_error") %></th>
        <th><%= t("activerecord.attributes.member.marketing_client_last_sync_error_at") %></th>
      </tr>
      <tr>
        <td><span class='label label-<%=t @current_member.marketing_client_synced_status, scope: 'activerecord.attributes.member.pardot_synced_status_priorities' -%>' id="span_mi_pardot_synced_status"><%=t @current_member.marketing_client_synced_status, scope: 'activerecord.attributes.member.pardot_synced_status_captions' -%></span></td>
        <td><%= l(@current_member.marketing_client_last_synced_at, format: :dashed) if @current_member.marketing_client_last_synced_at %></td>
        <td><%= @current_member.marketing_client_last_sync_error %></td>
        <td><%= l(@current_member.marketing_client_last_sync_error_at, format: :dashed) if @current_member.marketing_client_last_sync_error_at %></td>
      </tr>
    </tbody>
  </table>
<% end %>