<%= will_paginate notes %>
<% unless notes.empty? %>
  <% notes.each do |note| %>
    <table class="table table-bordered">
      <thead> 
        <tr class="odd"> 
          <th>
            <%= note.disposition_type if !note.disposition_type.nil? %> - 
            <%= note.communication_type if !note.communication_type.nil? %>        
            <%= t('added_by') %>
            <%= note.created_by.username %>
            <%= distance_of_time_in_words(note.created_at, Time.now, include_seconds = false, options = {}) %> <%= t(:ago) %>
          </th>
          <td style="width:300px">
            <%= t('created_at') %>:
            <%= I18n.l note.created_at, :format => :dashed %>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr class= "comment"> 
          <td colspan="2">
            <%= note.description %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p> <%= t('activerecord.attributes.member.no_member_notes') %> </p>
<% end %>