
<%= form_for (show_member_path), :html => { :id => "operation_filter" }  do %>
<table>
  <td> <%= submit_tag('Billing', {:name => "filter", :value => "all", :id => "all" }) %> </td>
  <td> <%= submit_tag('Billing', {:name => "filter", :value => "billing", :id => "billing" }) %> </td>
  <td> <%= submit_tag('Communications', {:name => "filter", :value => "communications", 
                                         :id => "communications" }) %> </td>
  <td> <%= submit_tag('Profile', {:name => "filter", :value => "profile", :id => "profile"  }) %> </td>
  <td> <%= submit_tag('Others', {:name => "filter", :value => "others", :id => "others"  }) %> </td>
</table>
<% end %>
<table class="table table-bordered datatable_only_sorting">
  <thead>
    <tr>
      <th> Date </th>
      <th> Operation </th>
      <th> Notes </th>
      <th> Created by </th>
    </tr>
  </thead>
  <tbody>
    <% operations.each do |operation| %>
    <tr>
      <td>
        <%= I18n.l operation.operation_date, :format => :long %>
      </td>  
      <td>
        <%= link_to operation.description.truncate(50), operation_path(@current_partner.prefix,@current_club.name,@current_member.visible_id,:id => operation.id) %>
      </td>
      <td>
        <%= operation.notes.truncate(30) if operation.notes != nil %> 
      </td>
      <td>
        <%= operation.created_by.username %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<script>
  var filter = "<%= @operation_filter.nil? ? 'all' : @operation_filter %>";
  $(document).ready(operation_member_functions());
</script>