<table id="table_pardot_sync" class="table table-bordered table-condensed">
  <thead>
    <tr class="box_title">
      <th colspan="6"><h4>Pardot sync</h4></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%= t("activerecord.attributes.member.pardot_id") %></th>
      <th><%= t("activerecord.attributes.member.pardot_synced_status") %></th>
      <th><%= t("activerecord.attributes.member.pardot_last_synced_at") %></th>
      <th><%= t("activerecord.attributes.member.pardot_last_sync_error") %></th>
      <th><%= t("activerecord.attributes.member.pardot_last_sync_error_at") %></th>
      <th></th>
    </tr>
    <tr>
      <td><%= @current_member.pardot_id %></td>
      <td><span class='label label-<%=t @current_member.pardot_synced_status, scope: 'activerecord.attributes.member.pardot_synced_status_priorities' -%>' id="span_mi_pardot_synced_status"><%=t @current_member.pardot_synced_status, scope: 'activerecord.attributes.member.pardot_synced_status_captions' -%></span></td>
      <td><%= l(@current_member.pardot_last_synced_at, format: :dashed) if @current_member.pardot_last_synced_at %></td>
      <td><%= @current_member.pardot_last_sync_error %></td>
      <td><%= l(@current_member.pardot_last_sync_error_at, format: :dashed) if @current_member.pardot_last_sync_error_at %></td>
      <td><%= 
          link_to member_pardot_sync_path, 
            method: :post, 
            class: 'btn btn-warning', 
            id: "sync_to_remote",
            confirm: 'Are you sure?' do %>
          <i class='icon-retweet'></i>
          <%= t('buttons.sync_to_remote') %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>