<p> <h1> <%= t('search_results') %> </h1> </p> 
<%= will_paginate @members if @members %>
<table class="table table-bordered table-condensed" id="table_member_search_result">
  <thead>
  	<tr>
      <th style="width: 110px;"><%= sortable "status", t('activerecord.attributes.member.status') %></th>
      <th style="width: 125px;" NOWRAP id="th_member_id"> <%= sortable "id", t('activerecord.attributes.member.id') %> </th>
      <% if @current_club.requires_external_id %>
        <th> <%= t('activerecord.attributes.member.external_id') %> </th>
      <% end %>
      <th style="width: 170px;"> <%= sortable "full_name", t('activerecord.attributes.member.full_name') %></th>
      <th style="width: 170px;"> <%= sortable "full_address", t('activerecord.attributes.member.full_address') %></th>
      <th> <%= t('activerecord.attributes.member.member_classification_type') %> </th>
      <th style="width: 20px;">View</th>
      <th style="width: 20px;">Edit</th>
      <th style="width: 80px;">&nbsp;</th>
  	</tr>
  </thead>
  <tbody>
    <% if @members %>
      <% if @members.blank? %>
        <tr> <td colspan="<%= @current_club.requires_external_id ? 9 : 8 %>"> <%= t('activerecord.attributes.member.search_member_not_found') %> </td> </tr>
      <% else %>
        <% @members.each do |member| %>
        <tr> 
          <td class="<%= menber_status_class(member) %>"> 
          <% if member.blacklisted? %>
          <%= member.status %>
          <%= t('activerecord.attributes.member.status_blacklisted') %>
          <% else %>
          <%= member.status %>
          <% end %>
          </td>
          <td> <%= member.id %> </td>
          <% if @current_club.requires_external_id %>
            <td> <%= member.external_id if !member.external_id.nil? %> </td>
          <% end %>
          <td> <%= member.full_name %> </td>
          <td> <%= member.full_address %> </td>
          <td> <%= member.member_group_type.nil? ? t('activerecord.attributes.member.not_group_associated') : member.member_group_type.name %> </td>
          <td><a href="<%= show_member_path(:member_prefix => member.id) %>" class="btn btn-small"><i class="icon-zoom-in"></i> </a></td>
          <td>
            <% if can? :edit, Member %>
              <a href="<%= edit_member_path(:member_prefix => member.id) %>" class="btn btn-small"><i class="icon-pencil"></i> </a>
            <% end %>
          </td>
          <td>
            <% if can? :edit, Member %> 
              <%= member_action_drop_menu(member) %>
            <% end %>
          </td>
        </tr>
      <% end %> 
    <% end %>
  <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $('.dropdown-toggle').dropdown();
  var new_position = $('#members').offset();
  window.scrollTo(new_position.left,new_position.top);
</script>
