<table class="table table-bordered datatable_only_sorting">
  <thead>
    <tr>
      <th> <%= t('activerecord.attributes.transaction.date') %> </th>
      <th> <%= t('activerecord.attributes.transaction.description') %> </th>
      <th> <%= t('activerecord.attributes.transaction.amount') %> </th>
      <th> <%= t('activerecord.attributes.transaction.refundable') %> </th>
      <th> <%= t('activerecord.attributes.transaction.gw_trans') %> </th>
      <th></th>
    </tr>
  </thead>
  <% transactions.each do |transaction| %>
  <tr>
    <td>
      <%= I18n.l transaction.created_at, :format => :long %>
    </td>
    <td>
      <%= transaction.to_label %>
    </td>
    <td>
      <%= number_to_currency transaction.amount %>
    </td>
    <td>
      <%= number_to_currency transaction.amount_available_to_refund if transaction.can_be_refunded? %>
    </td>
    <td>
      <%= transaction.response_transaction_id %>
    </td>
    <td>
      <%= link_to( t('refund'), member_refund_path(:transaction_id => transaction.id), :class => "btn btn-warning") if transaction.can_be_refunded? %>
    </td>
  </tr>
  <% end %>
  
</table>
