<%= render :partial => "shared/member_information" %>

<div id="error_explanation">
  <h2> Errors </h2>
  <ul>
  </ul>
</div>
<br>

<%= form_tag(member_add_club_cash_path) do %> 
  <table class="table table-condensed table-bordered">
    <tr> 
      <td>
        <div class="input-prepend input-append" style="float:left; width:25%">  
	      <%= t('activerecord.attributes.club_cash_transaction.amount') %>
	      <%= text_field nil, :amount, 
            :value => (params[:club_cash_transaction][:amount] if params[:club_cash_transaction]) %>
      	</div>      
        </br></br></br>
        <%= label :amount, t('activerecord.attributes.club_cash_transaction.amount_help'), 
                  :class => 'help-inline', :style=>"float:left" %>
      </td>      
    </tr>
    <tr> 
      <td> 
	    <%= label :description, t('activerecord.attributes.club_cash_transaction.description') %>
	    <%= text_area nil, :description, :style => 'width: 99%; height: 200px' %>
      </td>
    </tr>
    <tr>
    	<td> <%= submit_tag t('buttons.add_club_cash_transaction'), :class => 'btn btn-primary', :id => "submit_button" %> 
    	     <%= link_to t('buttons.cancel'), show_member_path, :class => 'btn' %> </td>
    </tr>
  </table>
<% end %>

<script>
  var member_id = "<%= @current_member.id %>"; 
  var visible_id = "<%= @current_member.visible_id %>"; 
  $(document).ready(club_cash_functions())
</script>