<%= render :partial => "shared/member_information" %>

<%= form_tag(member_blacklist_path) do %>
  <table class="table table-bordered">
    <tr>
      <td> 
        <%= label :reason, t('reason'), :class => 'help-inline' %> 
        <%= select_tag :reason, options_from_collection_for_select(@blacklist_reason, "name", "name") %>
      </td>
    </tr>
    <tr>
      <td> <%= submit_tag t('buttons.blacklist_member'), :class => 'btn btn-primary', 
                                    :confirm => t('text_blacklist_are_you_sure') %>
           <%= link_to t('buttons.return_to_member_show'), show_member_path, :class => 'btn' %> </td>
    </tr>
  </table>
<% end%>

