<h1><%= params[:action].humanize %> - <%= @current_member.visible_id %> - <%= @current_member.full_name %></h1>

<%= form_tag(member_cancel_path) do %>
  <table class="table table-bordered">
    <tr>
      <td>
        <%= label :cancel_date, t('activerecord.attributes.member.cancel_date'), :class => 'help-inline' %> 
        <%= text_field_tag :cancel_date, nil ,:class => 'datepicker' %> 
      </td>
    </tr>
    <tr>
      <td> 
        <%= label :reason, 'Reason', :class => 'help-inline' %> 
        <%= text_area_tag :reason, nil, :style => 'width: 50%; height: 200px' %>
      </td>
    </tr>
    <tr>
      <td> <%= submit_tag t(:save), :class => 'btn btn-primary confirm', 
                                    :confirm => t('text_cancel_are_you_sure') %>
           <%= link_to t(:Cancel), show_member_path, :class => 'btn' %> </td>
    </tr>
  </table>
<% end%>

