<%= render :partial => "shared/member_information" %>

<%= form_tag(member_change_next_bill_date_path) do %>
  <table class="table table-bordered">
    <tr>
      <td>
        <%= label :next_bill_date, t('activerecord.attributes.member.next_retry_bill_date'), :class => 'help-inline' %> 
        <%= text_field_tag :next_bill_date, nil ,:class => 'datepicker' %> 
      </td>
    </tr>
    <tr>
      <td> <%= submit_tag t('buttons.change_bill_date'), :class => 'btn btn-primary' %>
           <%= link_to t('buttons.return_to_member_show'), show_member_path, :class => 'btn' %> </td>
    </tr>
  </table>
<% end%>

<script>
  $(document).ready(member_change_next_bill_date());
</script>