<%= form_tag(members_search_result_path, :method => 'get', :id => 'index_search_form' , :class => 'form-inline') do |f| %>
  <section>
    <div class="page-header">
      <h1>Search</h1>
      <% if can? :api_enroll, Member %>
        <%= link_to(new_member_path, :class => "btn btn-primary btn_on_header", :id => "new_member") do %> 
          <i class="icon-plus"></i> New Member
        <% end %>
      <% end %>
    </div>
    <p class="muted">
      Use special character * to match zero or more characteres. E.g: 'sto*acre' will match 'stoneacre' and 'stone acre'.
    </p>
    <div class="row-fluid">
      <div class="span4">
        <table class="table table-bordered table-condensed table-nohover" id="personal_details">
          <thead>
            <tr class="box_title"><th><h4>Personal Details</h4></th></tr>
          </thead>
          <tbody>
            <tr>
              <td style="height: 233px;">
                <table class="hidden_table_border">
                  <tr>
                    <td><%= t('activerecord.attributes.member.id') %></td>
                    <td>  <%= text_field :member, :id, :class => 'test_field',   
                                     :value => (params[:member][:id] if params[:member])%>
                    </td>
                  </tr>
                  <tr>
                    <td><%= t('activerecord.attributes.member.first_name') %></td>
                    <td><%= text_field :member, :first_name, :class => 'test_field', 
                                     :value => (params[:member][:first_name] if params[:member]) %>
                    </td>
                  </tr>
                  <tr>
                    <td><%= t('activerecord.attributes.member.last_name') %></td>
                    <td><%= text_field :member, :last_name, :class => 'test_field',
                                     :value => (params[:member][:last_name] if params[:member]) %>
                    </td>
                  </tr>
                  <tr>
                    <td><%= t('activerecord.attributes.member.email') %></td>
                    <td><%= text_field :member, :email, :class => 'text_field',
                                     :value => (params[:member][:email] if params[:member]) %>         
                    </td>
                  </tr>
                  <tr>
                    <td><%= t('activerecord.attributes.member.phone_number') %></td>
                    <td>
                      <%= text_field :member, :phone_country_code, :class => 'text_field input-mini', :placeholder => t('activerecord.attributes.member.phone_country_code'),
                                     :value => (params[:member][:phone_country_code] if params[:member]) %> 
                      <%= text_field :member, :phone_area_code, :class => 'text_field input-mini', :placeholder => t('activerecord.attributes.member.phone_area_code'),
                                     :value => (params[:member][:phone_area_code] if params[:member]) %> 
                      <%= text_field :member, :phone_local_number, :class => 'text_field input-mini', :placeholder => t('activerecord.attributes.member.phone_local_number'),
                                     :value => (params[:member][:phone_local_number] if params[:member]) %> 
                    </td>
                  </tr>
                  <tr>
                    <td> <%= t('activerecord.attributes.member.needs_approval') %></td>
                    <td> <%= check_box :member, :needs_approval, :checked => (params[:member][:needs_approval] if params[:member]) %> </td>
                  </tr>
                  <% if @current_club.requires_external_id %>
                    <tr>
                      <td> <%= t('activerecord.attributes.member.external_id') %></td>
                      <td> <%= text_field :member, :external_id, :class => 'text-field',
                                       :value => (params[:member][:external_id] if params[:member]) %> </td>
                    </tr>
                  <% end %>
                  </tr>
                  <% if @current_club.sync? %>
                    <tr>
                      <td><%= t('activerecord.attributes.member.sync_error') %></td>
                      <td>
                        <%= 
                          select :member, 
                            :sync_status, 
                            [
                              ['Indifferent',   nil], 
                              ['Synced',        'synced'], 
                              ['Not Synced',    'unsynced'], 
                              ['With Error',    'error'], 
                              ['Without Error', 'noerror']
                            ],
                            :class => 'select_field'
                        %>
                      </td>
                    </tr>
                  <% end %>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="span4">
        <table class="table table-bordered table-condensed table-nohover" id="contact_details">
          <thead>
            <tr class="box_title"><th><h4>Contact Details</h4></th></tr>
          </thead>
          <tbody>
            <tr>
              <td style="height: 233px;">

                <table class="hidden_table_border">
                  <tr>
                    <td><%= t('activerecord.attributes.member.city') %></td>
                    <td><%= text_field :member, :city, :class => 'test_field',
                                     :value => (params[:member][:city] if params[:member]) %> </td>
                  </tr>
                  <tr>
                    <td><%= t('activerecord.attributes.member.country') %></td>
                    <td> <%= select_tag('member[country]', options_for_select(Member.supported_countries.map { |cc| [Member.country_name(cc), cc]}),
                        :prompt => t('buttons.select_country')) %> </td>
                  </tr>
                  <tr>
                    <td><%= t('activerecord.attributes.member.state') %></td>
                    <td id="states_td">
                      <%= render :partial => 'states', :locals => { :selected_state => (params[:member][:state] if params[:member])}%> </td>
                  </tr>
                  <tr>
                    <td><%= t('activerecord.attributes.member.address') %></td>
                    <td><%= text_field :member, :address, :class => 'test_field',
                                     :value => (params[:member][:address] if params[:member]) %> </td>
                  </tr>
                  <tr>
                    <td><%= t('activerecord.attributes.member.zip') %></td>
                    <td><%= text_field :member, :zip, :class => 'test_field',
                                     :value => (params[:member][:zip] if params[:member]) %></td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div><!--/span-->
      <div class="span4">
        
        <table  class="table table-bordered table-condensed table-nohover" id="payment_details">
          <thead>
            <tr class="box_title"><th><h4>Payment Details</h4></th></tr>
          </thead>
          <tbody>
            <tr>
              <td style="height: 233px;">
                <table class="hidden_table_border">
                  <tr>
                    <td> <%= t('activerecord.attributes.credit_card.next_bill_date') %></td>
                    <td> <%= text_field :member, :next_retry_bill_date, :class => 'text_field datepicker_for_search_nbd', :readonly => 'readonly', :value => (params[:member][:next_retry_bill_date] if params[:member]) %> </td>
                  </tr>
                  <tr>
                    <td>CC <%= t('activerecord.attributes.credit_card.last_digits') %></td>
                    <td> <%= text_field :member, :last_digits, :class => 'text_field',
                                     :value => (params[:member][:last_digits] if params[:member]) %> </td>
                  </tr>
                  <% if can? :see_cc_token, CreditCard and not @current_club.use_pgc_authorize_net? %>
                    <tr>
                      <td>CC <%= t('activerecord.attributes.credit_card.token') %></td>
                      <td> <%= text_field :member, :cc_token, :class => 'text_field',
                                       :value => (params[:member][:cc_token] if params[:member]) %> </td>
                    </tr>
                  <% end %>
                  <tr>
                    <td><%= t('activerecord.attributes.member.member_notes') %></td>
                    <td> <%= text_field :member, :notes, :class => 'text_field',
                                     :value => (params[:member][:notes] if params[:member]) %> </td>
                  </tr>
                  <tr>
                    <td> <%= t('activerecord.attributes.member.billed_date') %> </td>
                    <td>
                      <table>
                        <tr id = "billed_at_start_date">
                          <td> <%= t('activerecord.attributes.member.billed_date_from') %> </td>
                          <td> <%= text_field :member, :billing_date_start, :class => 'text-field datepicker_for_search_billed_date', :readonly => 'readonly', :value => (params[:member][:billing_date_start] if params[:member]) %> </td>
                        </tr>
                        <tr id = "billed_at_end_date">
                          <td> <%= t('activerecord.attributes.member.billed_date_to') %> </td>
                          <td> <%= text_field :member, :billing_date_end, :class => 'text-field datepicker_for_search_billed_date', :readonly => 'readonly', :value => (params[:member][:billing_date_end] if params[:member]) %> </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row-fluid">
      <p style="text-align: right;">

        <%= link_to('#', :id => "clear_form", :class => "btn") do %> 
          <i class="icon-refresh"></i> <%= t('clear') %>
        <% end %>

        <button class="btn" style="width: 190px;" id="submit_button">
          <i class="icon-search"></i> <%= t('search') %>
        </button>
      </p>
    </div>
  </section>


  <div class="tab-pane" id="members">
    <%= render :partial => 'search' %>
  </div>  
<% end %>

<script type="text/javascript">
  $(document).ready( member_index_functions() );
</script>

