<h1> <%= params[:action].humanize %> - <%= @current_member.visible_id %> - <%= @current_member.full_name %></h1>

<%= form_tag(member_refund_path(:transaction_id => @transaction)) do %>
  <table class="table table-bordered">
    <tr>
      <td>Amount to refund (e.g.: $45.34)<%= text_field_tag :refund_amount %> </td>
    </tr>
    <tr>
      <td>  <%= submit_tag t(:save), :class => 'btn btn-primary' %>
           <%= link_to t(:Cancel), show_member_path, :class => 'btn' %> </td>
    </tr>
  </table>
<% end%>