<%= render :partial => "shared/member_information" %>

<%= form_tag(member_save_the_sale_path) do %>
  <table class="table table-bordered">
    <tr>
      <td>
        <label class="help-inline">Today in: <%= @current_member.terms_of_membership.name %></label>
      </td>
    </tr>
    <tr>
      <td>
        <%= label :terms_of_membership_id, t('activerecord.attributes.member.terms_of_membership_id'), :class => 'help-inline' %> 
        <%= select_tag :terms_of_membership_id, options_from_collection_for_select(TermsOfMembership.where(:club_id => @current_club ), "id", "name") %> 
      </td>
    </tr>
    <tr>
      <td> <%= submit_tag t('buttons.save_te_sale'), :class => 'btn btn-primary', :confirm => t('are_you_sure') %>
           <%= link_to t('buttons.return_to_member_show'), show_member_path, :class => 'btn' %> </td>
    </tr>
  </table>
<% end%>

