<h1> <%= @member.visible_id %> - <%= @member.full_name %></h1>
<table class="table table-bordered">
  <tr>
    <td>
      <%= link_to "Save the sale", "#", :class => "btn btn-warning" %>
      <%= link_to "Cancel future", "#", :class => "btn btn-warning" %>
      <%= link_to "Recovery", "#", :class => "btn btn-warning" %>
      <%= link_to "Blacklist", "#", :class => "btn btn-warning" %>
      <%= link_to "Resend welcome email", "#", :class => "btn btn-warning" %>
      <%= link_to "Password reset", "#", :class => "btn btn-warning" %>
      <%= link_to "Cancel", "#", :class => "btn btn-warning" %>
      <%= link_to "Refulfill", "#", :class => "btn btn-warning" %>
    </td>
  </tr>
  <tr>
    <td> <%= @member.full_address %></td>
  </tr>
</table>

<table class="table table-bordered"> 
  <tr> 
    <td> Contact Information </td>
  </tr>
    <tr>
    <td> <%= t('activerecord.attributes.member.contact.phone_number') %>: <%= @member.phone_number %> </td>
    <td> <%= t('email') %>: <%= @member.email %> </td>
  </tr>
</table>

<table class="table table-bordered"> 
  <tr> 
    <td> Membership Information </td>
  </tr>
  <tr>
    <td> <%= t('activerecord.attributes.member.membership.current_status') %> </td>
    <td> <%= t('activerecord.attributes.member.membership.member_since_date') %> </td>
    <td> <%= t('activerecord.attributes.member.membership.join_date') %> </td>
    <td> <%= t('activerecord.attributes.member.membership.next_bill_date') %> </td>
    <td> <%= t('activerecord.attributes.member.membership.cancel_date') %> </td>
  </tr>
    <tr>
    <td> <%= @member.status %> </td>
    <td> <%= @member.created_at %> </td>
    <td> <%= @member.join_date %> </td>
    <td> <%= @member.bill_date %> </td>
    <td> <%= @member.cancel_date %> </td>
  </tr>
</table>

<table class="table table-bordered">
  <tr>
    <td>...Active Credit card</td>
  </tr>
</table>

<table class="table table-bordered">
  <tr>
    <td>
      <%= link_to "Add a note", "#", :class => "btn btn-warning" %>

      ...Notes..</td>
  </tr>
</table>


<table class="table table-bordered">
  <tr>
    <td>
            <%= link_to "Refund", "#", :class => "btn btn-warning" %>

      ...Operations..</td>
  </tr>
</table>
