<h1> <%= @member.visible_id %> - <%= @member.full_name %></h1>
<table class="table table-bordered">
  <tr>
    <td>
      <%= link_to "Save the sale", "#", :class => "btn btn-warning" %>
      <%= link_to "Cancel future", "#", :class => "btn btn-warning" %>
      <%= link_to "Recovery", "#", :class => "btn btn-warning" %>
      <%= link_to "Blacklist", "#", :class => "btn btn-warning" %>
      <%= link_to "Resend welcome email", "#", :class => "btn btn-warning" %>
      <%= link_to "Password reset", "#", :class => "btn btn-warning" %>
      <%= link_to "Cancel", "#", :class => "btn btn-warning" %>
      <%= link_to "Refulfill", "#", :class => "btn btn-warning" %>
      <%= link_to "Refund", "#", :class => "btn btn-warning" %>
      <%= link_to 'Edit', edit_member_path(:id => @member.visible_id), :class => "btn btn-warning" %>
    </td>
  </tr>
  <tr>
    <td> <%= @member.full_address %></td>
  </tr>
</table>

<table class="table table-bordered"> 
  <thead>
    <tr> 
      <th colspan="2"> Contact Information </th>
    </tr>
  </thead>  
  <tr>
    <td> <%= t('activerecord.attributes.member.phone_number') %>: <%= @member.phone_number %> </td>
    <td> <%= t('email') %>: <%= @member.email %> </td>
  </tr>
</table>

<table class="table table-bordered"> 
  <thead>
    <tr> 
      <th colspan="5">Membership Information </th>
    </tr>
  </thead>  
  <tr>
    <td> <%= t('activerecord.attributes.member.current_status') %>: <%= @member.status %> </td>
    <td> <%= t('activerecord.attributes.member.member_since_date') %>: <%= @member.created_at %> </td>
    <td> <%= t('activerecord.attributes.member.join_date') %>: <%= @member.join_date %> </td>
  </tr>
  <tr>
    <td> <%= t('activerecord.attributes.member.next_bill_date') %>: <%= @member.bill_date %> </td>
    <td colspan="2"> <%= t('activerecord.attributes.member.cancel_date') %>: <%= @member.cancel_date %> </td>
  </tr>
</table>

<table class="table table-bordered">
  <thead>
  <tr>
    <th colspan="5"> Active Credit card </th>
  </tr>

  </thead>
</table>

<ul class="nav nav-tabs">
  <li><a href="#operations" data-toggle="tab">Operations</a></li>
  <li><a href="#notes" data-toggle="tab">Notes</a></li>
  <li><a href="#credit_cards" data-toggle="tab">Credit Cards</a></li>
  <li><a href="#transactions" data-toggle="tab">Transactions</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="operations"><%= render :partial => 'operations', :locals => { :operations => @operations} %></div>
  <div class="tab-pane" id="notes"><%= render :partial => 'notes', :locals => { :notes => @notes} %></div>
  <div class="tab-pane" id="credit_cards"><%= render :partial => 'credit_cards', :locals => { :credit_cards => @credit_cards} %></div>  
  <div class="tab-pane" id="transactions"><%= render :partial => 'transactions', :locals => { :transactions => @transactions} %></div>  
</div>

