<h1> <%= @current_member.visible_id %> - <%= @current_member.full_name %></h1>
<% if @current_member.blacklisted? %>
<h1> Blacklisted! </h1>
<% end %>

<table class="table table-bordered table-condensed">
  <thead>
  <tr>
    <td>
      <%= link_to 'Edit', edit_member_path, :class => "btn btn-warning" %>
    </td>
    <% if @current_member.lapsed? %>
      <td>
        <%= form_for @current_member, :url => member_recover_path, :method => :post, do |f| %>
          <%= f.submit t('recover'), :class => 'btn btn-warning' %>
        <% end %>
      </td>
    <% end %>
    
    <% unless @current_member.lapsed? %>
      <td>
        <%= link_to "Resend welcome email", "#", :class => "btn btn-warning" %>
        <%= link_to "Password reset", "#", :class => "btn btn-warning" %>
      </td>
      <% if @current_member.can_save_the_sale? %>
        <td>
          <%= link_to("Save the sale", member_save_the_sale_path, :class => "btn btn-warning") %>
        </td>
      <% end %>
      <td>
        <%= link_to "Blacklist", member_blacklist_path, :class => "btn btn-warning" unless @current_member.blacklisted? %>
        <%= link_to("Cancel", member_cancel_path, :class => "btn btn-danger") if @current_member.can_be_canceled? %>
      </td>
    <% end %>
  </tr>
  </thead>
</table>

<table class="table table-bordered table-condensed"> 
  <thead>
    <tr>
      <td colspan="2"
      <% unless @current_member.wrong_address.nil? %>
        class = "yellow"
      <% end %>
      >
        <i class ="icon-home" > </i> <%= @current_member.full_address %> 
        <%= link_to t('show_on_map'), "http://maps.google.com/maps?f=q&q=#{h @current_member.full_address}&ie=UTF8&om=1", :target => '_blank', :class => "btn btn-info" %>
        <% if @current_member.wrong_address.nil? %>
          <%= link_to t('set_undeliverable'), member_set_undeliverable_path, :class => "btn btn-danger" %>
        <% else %>
          <%= t('activerecord.attributes.member.undeliverable') %>
        <% end %>
      </td>
    </tr>
    <tr> 
      <th colspan="2"> Contact Information </th>
    </tr>
    <tr>
      <td   
      <% unless @current_member.wrong_phone_number.nil? %> 
        class = "yellow" 
      <% end %>
      > 
        <%= t('activerecord.attributes.member.phone_number') %>: <%= @current_member.phone_number %>   
          <% if @current_member.wrong_phone_number.nil? %>
            <%= link_to t('set_unreachable'), member_set_unreachable_path, :class => "btn btn-danger" %>
          <% else %>
            <%= @current_member.wrong_phone_number %>
          <% end %>
      </td>
      <td> <i class="icon-envelope"> </i> <%= @current_member.email %> </td>
    </tr>
  </thead> 
</table>

<table class="table table-bordered table-condensed"> 
  <thead>
    <tr> 
      <th colspan= "3"> Membership Information </th>
      <th <% if @current_member.lapsed? %>
            class = "red"
          <% elsif @current_member.active? %>
            class = "green"
          <% elsif %>
            class = "yellow"
          <% end %>
      > 
      <%= @current_member.status %>      
      </th>
    </tr>
  </thead>  
  <tr>
    <td> <%= t('activerecord.attributes.member.member_since_date') %>: 
         <%= I18n.l @current_member.member_since_date, :format => :long %> </td>
    <td> <%= t('activerecord.attributes.member.join_date') %>: 
         <%= I18n.l @current_member.join_date, :format => :long %> </td>
    <td>
      <%= t('activerecord.attributes.member.next_retry_bill_date') %>: <%= @current_member.next_retry_bill_date %>
      <%= link_to('Change', member_change_next_bill_date_path, :class => "btn btn-warning") unless @current_member.next_retry_bill_date.nil? || @current_member.lapsed? %>
    </td>
    <td>
      <%= t('activerecord.attributes.member.cancel_date') %>: 
      <%= I18n.l(@current_member.cancel_date, :format => :long) unless @current_member.cancel_date.nil? %>
    </td>
  </tr>
  <tr>
    <td> <%= t('menu.activerecord.term_of_membership') %> 
         <%= t('activerecord.attributes.terms_of_membership.name') %>:
         <%= link_to @current_member.terms_of_membership.name, terms_of_membership_path(:id => @current_member.terms_of_membership) %> 
    </td>
    <td> <%= t('activerecord.attributes.member.reactivation_times') %> 
         <%= @current_member.reactivation_times %> 
    </td>
    <td colspan="2"> <%= t('activerecord.attributes.member.member_group_type') %>:
         <%= @current_member.member_group_type.nil? ? t('activerecord.attributes.member.not_group_associated') : @current_member.member_group_type.name %> 
    </td>
  </tr>
</table>

<table
  <% if (Time.now.year > @active_credit_card.expire_year) || 
        (Time.now.month > @active_credit_card.expire_month && Time.now.year == @active_credit_card.expire_year) %>
    class="table table-bordered table-condensed card_expired"
  <% else %>
    class="table table-bordered table-condensed"
  <% end %>
>
  <thead>
    <tr>
      <th colspan="5"> Active Credit card </th>
    </tr>
  <tr>
    <td> <%= t("activerecord.attributes.credit_card.number") %> <%= @active_credit_card.number %> </td>
    <td> <%= t("activerecord.attributes.credit_card.expire_date") %> 
         <%= @active_credit_card.expire_month %> / <%= @active_credit_card.expire_year %> 
    </td>
  </thead>
</table>

<ul class="nav nav-tabs">
  <li><a href="#operations" data-toggle="tab">Operations</a></li>
  <li><a href="#notes" data-toggle="tab">Notes</a></li>
  <li><a href="#credit_cards" data-toggle="tab">Credit Cards</a></li>
  <li><a href="#transactions" data-toggle="tab">Transactions</a></li>
  <li><a href="#fulfillments" data-toggle="tab">Fulfillments</a></li>
  <li><a href="#communication" data-toggle="tab">Communications</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="operations"><%= render :partial => 'operations', :locals => { :operations => @operations} %></div>
  <div class="tab-pane" id="notes"><%= render :partial => 'notes', :locals => { :notes => @notes} %></div>
  <div class="tab-pane" id="credit_cards"><%= render :partial => 'credit_cards', :locals => { :credit_cards => @credit_cards} %></div>  
  <div class="tab-pane" id="transactions"><%= render :partial => 'transactions', :locals => { :transactions => @transactions} %></div>
  <div class="tab-pane" id="fulfillments"><%= render :partial => 'fulfillments', :locals => { :fulfillments => @fulfillments} %></div>  
  <div class="tab-pane" id="communication"><%= render :partial => 'communications', :locals => { :fulfillments => @communications} %></div>
</div>


