<h1> <%= @current_member.visible_id %> - <%= @current_member.full_name %></h1>

<table class="table table-bordered table-condensed">
  <tr>
    <td>
      <%= link_to 'Edit', edit_member_path(:id => @current_member.visible_id), :class => "btn btn-warning" %>
      <%= link_to("Recovery", "#", :class => "btn btn-warning") if @current_member.lapsed? %>
    </td>
    <% unless @current_member.lapsed? %>
      <td>
        <%= link_to "Resend welcome email", "#", :class => "btn btn-warning" %>
        <%= link_to "Password reset", "#", :class => "btn btn-warning" %>
      </td>
      <td>
        <%= link_to "Refulfill", "#", :class => "btn btn-warning" %>
      </td>
      <td>
        <%= link_to("Save the sale", member_save_the_sale_path, :class => "btn btn-warning") if @current_member.can_save_the_sale? %>
      </td>
      <td>
        <%= link_to "Blacklist", "#", :class => "btn btn-warning" %>
        <%= link_to("Cancel", member_cancel_path, :class => "btn btn-warning") if @current_member.can_be_canceled? %>
      </td>
    <% end %>
  </tr>
  <tr>
    <td colspan="5"> 
      <i class ="icon-home" > </i> <%= @current_member.full_address %> 
      <%= link_to t('show_on_map'), "http://maps.google.com/maps?f=q&q=#{h @current_member.full_address}&ie=UTF8&om=1", :target => '_blank' %>
    </td>
  </tr>
</table>

<table class="table table-bordered table-condensed"> 
  <thead>
    <tr> 
      <th colspan="2"> Contact Information </th>
    </tr>
  </thead>  
  <tr>
    <td> <%= t('activerecord.attributes.member.phone_number') %>: <%= @current_member.phone_number %> </td>
    <td> <i class="icon-envelope"> </i> <%= @current_member.email %> </td>
  </tr>
</table>

<table class="table table-bordered table-condensed"> 
  <thead>
    <tr> 
      <th colspan="5">Membership Information </th>
    </tr>
  </thead>  
  <tr>
    <td> <%= t('activerecord.attributes.member.current_status') %>: <%= @current_member.status %> </td>
    <td> <%= t('activerecord.attributes.member.member_since_date') %>: 
         <%= I18n.l @current_member.created_at, :format => :long%> </td>
    <td> <%= t('activerecord.attributes.member.join_date') %>: 
         <%= I18n.l @current_member.join_date, :format => :long %> </td>
  </tr>
  <tr>
    <td> <%= t('activerecord.attributes.member.next_bill_date') %>: <%= @current_member.next_retry_bill_date %> </td>
    <td colspan="2">
      <%= t('activerecord.attributes.member.cancel_date') %>: 
      <%= I18n.l(@current_member.cancel_date, :format => :long) unless @current_member.cancel_date.nil? %>
    </td>
  </tr>
</table>

<table
  <% if (Time.now.year > @active_credit_card.expire_year) || 
        (Time.now.month > @active_credit_card.expire_month && Time.now.year == @active_credit_card.expire_year) %>
    class="table table-bordered table-condensed card_expired"
  <% else %>
    class="table table-bordered table-condensed"
  <% end %>
>
  <thead>
    <tr>
      <th colspan="5"> Active Credit card </th>
    </tr>
  <tr>
    <td> <%= t("activerecord.attributes.credit_card.number") %> <%= @active_credit_card.number %> </td>
    <td> <%= t("activerecord.attributes.credit_card.expire_date") %> 
         <%= @active_credit_card.expire_month %> / <%= @active_credit_card.expire_year %> 
    </td>
  </thead>
</table>

<ul class="nav nav-tabs">
  <li><a href="#operations" data-toggle="tab">Operations</a></li>
  <li><a href="#notes" data-toggle="tab">Notes</a></li>
  <li><a href="#credit_cards" data-toggle="tab">Credit Cards</a></li>
  <li><a href="#transactions" data-toggle="tab">Transactions</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="operations"><%= render :partial => 'operations', :locals => { :operations => @operations} %></div>
  <div class="tab-pane" id="notes"><%= render :partial => 'notes', :locals => { :notes => @notes} %></div>
  <div class="tab-pane" id="credit_cards"><%= render :partial => 'credit_cards', :locals => { :credit_cards => @credit_cards} %></div>  
  <div class="tab-pane" id="transactions"><%= render :partial => 'transactions', :locals => { :transactions => @transactions} %></div>  
</div>


